<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @quiz_answer.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @quiz_answer.question_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @quiz_answer.answer_id %>
</p>

<%= link_to 'Edit', edit_quiz_answer_path(@quiz_answer) %> |
<%= link_to 'Back', quiz_answers_path %>
