

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
            <%= devise_error_messages! %>


            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <%= f.email_field :email, :autofocus => true, :class => "input-xlarge col-xs-8 col-xs-offset-2", :placeholder => "Email" %>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <%= f.password_field :password, :class => "input-xlarge col-xs-8 col-xs-offset-2", :placeholder => "Password" %>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <%= f.password_field :password_confirmation, :class => "input-xlarge col-xs-8 col-xs-offset-2", :placeholder => "Password Confirmation" %>
                </div>
              </div>
            </div>
            <%= f.fields_for :demographic do |d| %>
            <div class="control-group">
              <div class="controls">
                <div class="row">

                  <%= d.select :male,['male','female'] ,{},:class => "input-xlarge col-xs-2 col-xs-offset-4"%>


                   <%= d.select :male,['male','female'] ,{},:class => "input-xlarge col-xs-2 col-xs-offset-2"%>

                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="row">

                  <%= d.text_field :male,:class => "input-xlarge col-xs-8 col-xs-offset-2",placeholder:"Your College"%>


                </div>
              </div>
            </div>


                <% end %>


            <div class="control-group">
              <div class="controls">
                <%= f.submit "SIGN UP", :class => "btn btn-info sign-up-btn no_edges" %>
              </div>
              <a class="small-message" href="/users/sign_in">
                <small>Already Registered?</small>
              </a>
            </div>

        <% end %>

