<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <% resource.build_demographic %>
    <% resource.criterions.new() %>
    <% resource.attendances.new() %>

    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
            </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation" %>
        </div>
        </div>
      </div>
    </div>

        <div class="control-group">
          <div class="controls">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
              <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                <%= f.fields_for :demographic do |d| %>
                    <%= d.text_field :name, :class => "form-control", :placeholder => "Name", :size=>160 %>
                <%# end %>
              <!--</div>-->
            </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2" style=" color: #ffffff;">
                <div class="row" >
                  <div class="col-lg-6"> <label class="control-label pull-left">I am a</label><i class="fa fa-male fa-2x lhc-pointer gender-icons"></i>
                    <i class="fa fa-female fa-2x lhc-pointer gender-icons"></i></div>
                <% end %>
                <div class="col-lg-6">
                <label class="control-label ">Looking for </label>
                        <%= f.fields_for :criterions do |c| %>
                        <i class="fa fa-male fa-2x lhc-pointer expected-gender-icons pull-right"></i>
                        <i class="fa fa-female fa-2x lhc-pointer expected-gender-icons pull-right"></i>
                    <% end %>

                  </div>



                </div>
              </div>

            </div>
          </div>
        </div>


            <div class="row" >
              <div id="college_block" class="col-xs-8 col-sm-9 col-md-8 col-md-offset-2 col-lg-8" style="padding-bottom: 2%">
                <label class="control-label">College</label>
                <%= f.fields_for :attendances do |a| %>
                    <%= a.collection_select(:institution_id, Institution.all, :id, :name,{}, {:class=>"lhc-dropdown"}) %>
                <% end %>
              </div>

            </div>


    <div class="row" style="margin-top: 10px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="control-group">
          <div class="controls">
            <%= f.submit "SIGN UP", :class => "btn sign-up-btn no_edges" %>
          </div>

          <a class="small-message" href="/users/sign_in">
            <small>Already Registered?</small>
          </a>
        </div>
      </div>
    </div>

<% end %>

<style type="text/css">
  .orange_button
  {
      color:#38C8E0;
  }
</style>
<script type="text/javascript">
    $(function(){
        $(".lhc-dropdown").chosen()
        $(".gender-icons").click(function(e){
            $(".gender-icons").removeClass("orange_button");
            $(this).addClass("orange_button")
        });

        $(".expected-gender-icons").click(function(e){
            $(".expected-gender-icons").removeClass("orange_button");
            $(this).addClass("orange_button")
        });
    });

</script>