<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <% resource.build_demographic %>
    <% resource.build_criterion %>
    <% resource.attendances.new() %>

    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
            </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation" %>
        </div>
        </div>
      </div>
    </div>

        <div class="control-group">
          <div class="controls">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
              <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                <%= f.fields_for :demographic do |d| %>
                    <%= d.text_field :name, :class => "form-control", :placeholder => "Name", :size=>160 %>
                <%# end %>
              <!--</div>-->
            </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2" style=" color: #ffffff;">
                <div class="row" >
                  <div class="col-lg-6">
                    <label class="control-label pull-left">I am a</label>
                    <%= d.radio_button :male, 'true', :class=>"my_gender" %>
                    <label for="user_demographic_attributes_male_true" class="custom-radio-btn my_gender" id="user_male_lable"></label>
                    <%= d.radio_button :male, 'false', :class=>"my_gender" %>
                    <label for="user_demographic_attributes_male_false" class="custom-radio-btn my_gender" id="user_female_lable"></label>
                  </div>
                <% end %>
                <div class="col-lg-6">
                <label class="control-label pull-left">Looking for</label>
                        <%= f.fields_for :criterion do |c| %>
                            <%= c.radio_button :male, 'true', :class=>"opposite_gender" %>
                            <label for="user_criterions_attributes_0_male_true" class="custom-radio-btn opposite_user_gender pull-right" id="opposite_user_male_lable"></label>
                            <%= c.radio_button :male, 'false', :class=>"opposite_gender" %>
                            <label for="user_criterions_attributes_0_male_false" class="custom-radio-btn opposite_user_gender pull-right" id="opposite_user_female_lable"></label>
                    <% end %>

                  </div>



                </div>
              </div>

            </div>
          </div>
        </div>


            <div class="row" >
              <div id="college_block" class="col-xs-8 col-sm-9 col-md-8 col-md-offset-2 col-lg-8" style="padding-bottom: 2%">
                <label class="control-label">College</label>
                <%= f.fields_for :attendances do |a| %>
                    <%= a.collection_select(:institution_id, Institution.all, :id, :name,{}, {:class=>"lhc-dropdown"}) %>
                <% end %>
              </div>

            </div>


    <div class="row" style="margin-top: 10px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="control-group">
          <div class="controls">
            <%= f.submit "SIGN UP", :class => "btn sign-up-btn no_edges" %>
          </div>

          <a class="small-message" href="/users/sign_in">
            <small>Already Registered?</small>
          </a>
        </div>
      </div>
    </div>

<% end %>

<style type="text/css">
  .orange_button
  {
      color:#38C8E0;
  }

  input[type="radio"] {
      display:none;
  }
  input[type="radio"] + .custom-radio-btn {
      display:inline-block;
      width:19px;
      height:19px;
      /*margin:-1px 4px 0 0;*/
      vertical-align:middle;
      cursor:pointer;
  }

  input[type="radio"] + .custom-radio-btn.my_gender{
      margin:5px 4px 0 0;
  }
  input[type="radio"] + .custom-radio-btn.opposite_user_gender{
      margin:5px 7px 0 0;
  }

  input[type="radio"] + #user_male_lable, #opposite_user_male_lable {
      background :url('/assets/white_male.png');
      background-size: 100% 100%;
  }
  input[type="radio"] + #user_female_lable, #opposite_user_female_lable {
      background :url('/assets/white_female.png');
      background-size: 100% 100%;
  }

  input[type="radio"]:checked + #user_male_lable, input[type="radio"]:checked + #opposite_user_male_lable {
      background:url('/assets/blue_male.png');
      background-size: 100% 100%;
  }

  input[type="radio"]:checked + #user_female_lable, input[type="radio"]:checked + #opposite_user_female_lable {
      background:url('/assets/blue_female.png');
      background-size: 100% 100%;
  }



</style>
<script type="text/javascript">
    $(function(){
        $(".lhc-dropdown").chosen();
        $(".gender-icons").click(function(e){
            $(".gender-icons").removeClass("orange_button");
            $(this).addClass("orange_button")
        });

        $(".expected-gender-icons").click(function(e){
            $(".expected-gender-icons").removeClass("orange_button");
            $(this).addClass("orange_button")
        });
    });
</script>