<%= content_for(:left_menu) do %>
    <%= render :partial=>"dashboards/left_menu" %>
<% end %>
<%= content_for(:dialogue_bar_header) do %>
    Prove yourself !
<% end %>

<%= content_for(:page_header) do %>
    Question n
<% end %>

<section id="take_test_blue-container">
  <div class="custom-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
        <div class="row" >
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

                <div id="step_<%= @question.id %>" class="test-steps" style="display: none;">
                  <div class="row" style="margin-top: 20%;">
                    <h4 style="font-size: 1.8em;"><%= @question.name %></h4>
                  </div>
                   <div class="row">
                     <ul class="test_ul">
                       <%= @quiz.questions.count %>
                       <%= form_for(@quiz_answer) do |f| %>

                             <%= f.hidden_field :user_id,:value => current_user.id %>
                             <%= f.hidden_field :question_id,:value => @question.id %>
                             <%= hidden_field_tag :quiz_id, @quiz.id %>

                           <div class="field">
                             <% @question.options.each do |test_ans_option| %>
                                 <li>
                                   <%= f.radio_button :answer_id,test_ans_option.id, :style=>"float: left;" %>
                                   <p class="radio_text"><%= test_ans_option.name %></p>
                                 </li>
                             <% end %>
                           </div>

                           <div class="actions" style="margin-top: 5%;">
                             <%= f.submit "Answer", :class=>"btn-main ans_btn" %>
                           </div>
                       <% end %>
                     </ul>
                   </div>

                </div>

          </div>
        </div>

        <!--<div class="row" style="margin-top: 5%;">-->
          <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding-left: 0">-->
            <!--<a class="btn-main ans_btn" href="<%#= user_answer_path() %>" id="ans_test_btn">Answer</a>-->
          <!--</div>-->
          <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">-->
            <!--<p class="test_step"> <span id="current_step">0</span> / <span id="total_steps">0</span> </p>-->
          <!--</div>-->
        <!--</div>-->


      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img alt="Title" class="img-responsive" src="/assets/cofee.jpg">
      </div>

    </div>
  </div>

</section>

<script>
    $(function(){
        var current_step = 0;
        var total_steps;
        total_steps = $('.test-steps').length;

        $('.test-steps').eq(current_step).show();
        $('#current_step').text(current_step+1);
        $('#total_steps').text(total_steps);

        $('#ans_test_btn').on('click', function(){
            $('.test-steps').hide();
            current_step = current_step + 1;
            if ( current_step >= (total_steps-1) ) {
                current_step = total_steps-1;
                $('.test-steps').eq(current_step).show();
                $('#current_step').text(current_step+1);
                console.log("test complete");
            }
            else{
                $('.test-steps').eq(current_step).show();
                $('#current_step').text(current_step+1);
            }
        });

    });
</script>