<%= content_for(:topbar) do %>
    <%= render "generic_partials/topbar" %>
<% end %>

<!--Page Title-->
<!--<section id="page-title">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-blue-about-us">-->
        <!--<h2 class="blue-white-titel-font-size">About Us</h2>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<section id="page-title" style="position:relative;">
    <div class="row">
      <div class="col-lg-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-sm-10 col-xs-10 title-blue-about-us">
        <h2 class="blue-white-titel-font-size">About Us</h2>
      </div>
    </div>
</section>





<section id="take_test_blue-container">
  <div class="custom-container">
    <div class="container">
      <div class="row content-top-space">
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
          <div class="about-second-image">
          </div>
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 about-first-img-text">
          <p>
          <%= get_content_for("aboutUs1") %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 about-plus-text"> +</div>
      </div>
      <div class="row">

        <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3 about-second-img-text">
          <p class="about-text-2">
          <%= get_content_for("aboutUs2") %>
          </p>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
          <div class="about-first-image">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 about-plus-text"> =</div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 about-plus-text">
          <img src="/assets/cup4.png" width="10%">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <p class="bottom-hedding">
            <%= get_content_for("aboutUs3") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

