
<%= content_for(:topbar) do %>
    <%= render "generic_partials/topbar" %>
<% end %>
<!-- ========================= Contact Page Begins ========================= -->
<section id="contact_page_title_section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-white title-white-for-contact-page">
        <h2 class="blue-white-titel-font-size">Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<section id="contact_section">
  <div class="custom-container">
    <div class="row" style="padding-top: 5%">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <%= form_for @query, :class => "form-horizontal" do |f| %>

            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                  <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
                </div>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                  <%= f.email_field :email,  placeholder: 'E-mail', class: 'form-control' %>
                </div>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                    <%= f.select :subject, ["I want to share my story","I want to know more about Let's Have Coffee","I have an interesting proposal for you","I want to add my college to Let's Have Coffee","I just generally want to talk to you guys!"], {},prompt: "Subject", class: '', :style=>"width: 100%; border: none;" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                  <%= f.text_area :body , placeholder: 'Message', class: 'form-control ' %>
                </div>
                </div>
              </div>
            </div>


            <div class="control-group" style="margin-top: 3%">
              <div class="controls">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                  <%= f.submit 'Send Message', :class=>"btn-main lhc-red-btn" %>
                </div>
                </div>
              </div>
            </div>
        <% end -%>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

        <p>
          <%= get_content_for("contactUsBody") %>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ========================= Contact Page Ends ========================= -->

<script>

    $(function(){
        //$('#criteria_fill_step_1').fadeIn();

        $(".contact-select").chosen();
        //TODO: write contact in respective view
        var which_page;
        which_page = "contact"; // values => contact, relationship_test, dashboard etc...

//        TODO: what is this ??
        if ( which_page == "algo" ) {
            $('#contact_page_title_section').hide();
            $('#contact_section').hide();
        }
        else if ( which_page == "contact" ) {
            $('#contact_page_title_section').show();
            $('#contact_section').show();
        }
        else if ( which_page == "relationship_test" ) {
            $('#contact_page_title_section').hide();
            $('#contact_section').hide();
        }
        else if ( which_page == "dashboard" ) {
            $('#contact_page_title_section').hide();
            $('#contact_section').hide();
        }

    });

</script>
