<section id="matching_criteria_section">
<div class="container">
<div class="row margin-top-5per">

<%= form_tag ('/criterions'), :class => "form-horizontal" do %>

    <div class="row criteria-fill-step" id="criteria_fill_step_1">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 blue-background text-center" style="position: relative">
        <div class="gender-pic" style="position:absolute; top:-12%; left:41.5%;">
          <img class="thumbnail" src="//distilleryimage1.s3.amazonaws.com/2f657ca0abdb11e3aaf30e0373b3d96d_5.jpg" style="height: 80px; width: 80px">
          <h4 class="white">YOU</h4>
        </div>
        <div class="row" style="margin-top: 25%; padding-bottom: 15%;">
          <div class="col-lg-12">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <h4 class="white">DOB</h4>
                  <%= select_tag "dob_day", "<option>01</option><option>02</option><option>03</option><option>04</option>".html_safe %>
                  <%= select_tag "dob_month", "<option>01</option><option>02</option><option>03</option><option>04</option>".html_safe %>
                  <%= select_tag "dob_year", "<option>1989</option><option>1990</option><option>1991</option><option>1991</option>".html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 blue-background text-center" style="position: relative">
        <div class="gender-pic" style="position:absolute; top:-12%; left:41.5%;">
          <img class="thumbnail" src="//distilleryimage1.s3.amazonaws.com/2f657ca0abdb11e3aaf30e0373b3d96d_5.jpg" style="height: 80px; width: 80px">
          <h4 class="white">HER</h4>
        </div>
        <div class="row" style="margin-top: 25%; padding-bottom: 15%;">
          <div class="col-lg-12">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <h4 class="white">Age Range</h4>
                  <%= select_tag "dob_day", "<option>01</option><option>02</option><option>03</option><option>04</option>".html_safe %>
                  <span class="white">to</span>
                  <%= select_tag "dob_year", "<option>1989</option><option>1990</option><option>1991</option><option>1991</option>".html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row criteria-fill-step" id="criteria_fill_step_2">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 blue-background text-center" style="position: relative">
        <div class="gender-pic" style="position:absolute; top:-12%; left:41.5%;">
          <img class="thumbnail" src="//distilleryimage1.s3.amazonaws.com/2f657ca0abdb11e3aaf30e0373b3d96d_5.jpg" style="height: 80px; width: 80px">
          <h4 class="white">YOU</h4>
        </div>
        <div class="row" style="margin-top: 18%;">
          <div class="col-lg-12">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <h4 class="white">Drinking</h4>

                  <div data-ride="carousel" class="carousel slide" id="carousel-drinking">
                    <ol class="carousel-indicators">
                      <li class="active" data-slide-to="0" data-target="#carousel-drinking"></li>
                      <li data-slide-to="1" data-target="#carousel-drinking" class=""></li>
                      <li data-slide-to="2" data-target="#carousel-drinking" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <img alt="First slide" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                      </div>
                      <div class="item">
                        <img alt="Second slide" data-src="holder.js/900x500/auto/#666:#444/text:Second slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0Pjwvc3ZnPg==">
                      </div>
                      <div class="item">
                        <img alt="Third slide" data-src="holder.js/900x500/auto/#555:#333/text:Third slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojMzMzO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+VGhpcmQgc2xpZGU8L3RleHQ+PC9zdmc+">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 blue-background text-center" style="position: relative">
        <div class="gender-pic" style="position:absolute; top:-6%; left:41.5%;">
          <img class="thumbnail" src="//distilleryimage1.s3.amazonaws.com/2f657ca0abdb11e3aaf30e0373b3d96d_5.jpg" style="height: 80px; width: 80px">
          <h4 class="white">HER</h4>
        </div>
        <div class="row" style="margin-top: 18%;">
          <div class="col-lg-12">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <h4 class="white">Drinking</h4>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-3 text-center" style="background: white">
                      <div class="row" style="margin-top: 8%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Often</button>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Socially</button>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Never</button>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1%; margin-bottom: 9%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Doesn't Matter</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row criteria-fill-step" id="criteria_fill_step_3">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 blue-background text-center" style="position: relative">
        <div class="gender-pic" style="position:absolute; top:-12%; left:41.5%;">
          <img class="thumbnail" src="//distilleryimage1.s3.amazonaws.com/2f657ca0abdb11e3aaf30e0373b3d96d_5.jpg" style="height: 80px; width: 80px">
          <h4 class="white">YOU</h4>
        </div>
        <div class="row" style="margin-top: 18%;">
          <div class="col-lg-12">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <h4 class="white">Smoking</h4>

                  <div data-ride="carousel" class="carousel slide" id="carousel-smoking">
                    <ol class="carousel-indicators">
                      <li class="active" data-slide-to="0" data-target="#carousel-smoking"></li>
                      <li data-slide-to="1" data-target="#carousel-smoking" class=""></li>
                      <li data-slide-to="2" data-target="#carousel-smoking" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <img alt="First slide" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                      </div>
                      <div class="item">
                        <img alt="Second slide" data-src="holder.js/900x500/auto/#666:#444/text:Second slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0Pjwvc3ZnPg==">
                      </div>
                      <div class="item">
                        <img alt="Third slide" data-src="holder.js/900x500/auto/#555:#333/text:Third slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojMzMzO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+VGhpcmQgc2xpZGU8L3RleHQ+PC9zdmc+">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 blue-background text-center" style="position: relative">
        <div class="gender-pic" style="position:absolute; top:-6%; left:41.5%;">
          <img class="thumbnail" src="//distilleryimage1.s3.amazonaws.com/2f657ca0abdb11e3aaf30e0373b3d96d_5.jpg" style="height: 80px; width: 80px">
          <h4 class="white">HER</h4>
        </div>
        <div class="row" style="margin-top: 18%;">
          <div class="col-lg-12">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <h4 class="white">Smoking</h4>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-3 text-center" style="background: white">
                      <div class="row" style="margin-top: 8%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Often</button>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Socially</button>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Never</button>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1%; margin-bottom: 9%;">
                        <div class="col-lg-12">
                          <button class="btn-main" style="width: 80%;">Doesn't Matter</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 3%;">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="javascript:void(0)" class="btn-main criteria-fill-step-btn" id="criteria_fill_step_prev_btn">Back</a>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
        <a href="javascript:void(0)" class="btn-main criteria-fill-step-btn" id="criteria_fill_step_next_btn">Continue</a>
      </div>
    </div>

    <div><%= submit_tag 'Save', :style=>"display: none;" %></div>

<% end -%>

</div>
</div>
</section>

<script>
    $(function(){
        //$('#criteria_fill_step_1').fadeIn();

        var current_step = 0;
        var total_steps;
        total_steps = $('.criteria-fill-step').length;

        $('.criteria-fill-step').eq(current_step).show();

        $('#criteria_fill_step_next_btn').on('click', function(){
            $('.criteria-fill-step').hide();
            current_step = current_step + 1;
            if ( current_step >= total_steps ) {
                $('.criteria-fill-step').hide();
                current_step = total_steps-1;
                $('.criteria-fill-step').eq(current_step).show();
            }
            else{
                $('.criteria-fill-step').eq(current_step).show();
            }
        });

        $('#criteria_fill_step_prev_btn').on('click', function(){
            $('.criteria-fill-step').hide();
            current_step = current_step - 1;
            if ( current_step <= 0 ) {
                $('.criteria-fill-step').hide();
                current_step = 0;
                $('.criteria-fill-step').eq(current_step).show();
            }
            else{
                $('.criteria-fill-step').eq(current_step).show();
            }
        });

    });
</script>