<div class="row">
  <% if get_like_status(params[:id]) %>
      <% if !check_icebreaker_status(params[:id]) %>
          <img src="/assets/cup_half.png" alt="" class="img-responsive pull-right" style="margin-top: 20%;margin-bottom: 10%;"/>
          <div style="margin-top:10%">
          <%= get_content_for('ice_breaker') %>
          </div>
          <% else %>
          <img src="/assets/cup_full.png" alt="" class="img-responsive pull-right" style="margin-top: 20%;margin-bottom: 10%;"/>
          <div style="margin-top:10%">
            <%= get_content_for('message') %>
          </div>
          <% end %>
      <% else %>
      <img src="/assets/cup_empty.png" alt="" class="img-responsive pull-right" style="margin-top: 20%;margin-bottom: 10%;"/>
      <div style="margin-top:10%">
        <%= get_content_for('no_mutual_like') %>
      </div>
  <% end %>
</div>
<div class="row" style="margin-top: 10%">


</div>
<div class="row" style="margin-top: 10%">
  <% if get_like_status(params[:id]) %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: -3%">
    <% if !check_icebreaker_status(params[:id]) %>


      <div class="col-lg-3 col-lg-offset-3 ">




        <% if IceBreaker.find_by_receiver_id_and_sender_id(params[:id],current_user.id).nil? and IceBreaker.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).nil? %>
            <button title="Start an ice breaker" onclick="window.location = '<%= start_ice_breaker_path(params[:id]) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-bell fa-3x "></i></button>
        <% else %>
            <% if !IceBreaker.find_by_receiver_id_and_sender_id(params[:id],current_user.id).nil? %>
                <% if IceBreaker.find_by_receiver_id_and_sender_id(params[:id],current_user.id).ice_status == true %>
                    <!--<h1>Done</h1>-->
                <% end %>
                <% end %>
            <% if !IceBreaker.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).nil? %>
                <% if IceBreaker.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).ice_status == true %>
                        <% if IceBreaker.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).icebreaker_answers.blank?  %>
                        <button title="Answer ice breaker" onclick="window.location = '<%= answer_icebreaker_path(IceBreaker.find_by_receiver_id_and_sender_id(current_user.id,params[:id]),IceBreaker.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).questions.first.id) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-bell fa-3x "></i></button>
                        <% else %>
                            <!--<h1>Done</h1>-->
                        <% end %>




        <% end %>
        <% end %>
        <% end %>


      </div>



    <% else %>

      <div class="col-lg-3 col-lg-offset-3">
        <button title="Send a message" onclick="window.location = '<%= conversations_with_users_path(params[:id]) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-envelope fa-3x "></i></button>
      </div>
    <% end %>
      </div>

      <!--indicates all mutual likes-->

  <% else %>

      <% if Like.find_by_receiver_id_and_sender_id(params[:id],current_user.id).nil? and Like.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).nil? %>
          <div class="col-lg-2 col-lg-offset-1">
            <button title="Like the match" onclick="window.location = '<%= user_like_path(params[:id]) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-thumbs-up fa-3x "></i></button>
          </div>
          <div class="col-lg-2 col-lg-offset-5">
            <button title="Reject the match" onclick="window.location = '<%= reject_match_path(params[:id]) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-thumbs-down fa-3x "></i></button>
          </div>
      <% else %>
          <% if !Like.find_by_receiver_id_and_sender_id(params[:id],current_user.id).nil? %>
            <% if Like.find_by_receiver_id_and_sender_id(params[:id],current_user.id).status == false %>
              <div class="col-lg-2 col-lg-offset-5">
                <button title="Reject the match" onclick="window.location = '<%= reject_match_path(params[:id]) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-thumbs-down fa-3x "></i></button>
              </div>
            <% end %>
           <% end %>

          <% if !Like.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).nil? %>
              <% if Like.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).status == false %>
                  <div class="col-lg-2 col-lg-offset-1">
                    <button title="Like the match" onclick="window.location = '<%=  accept_request_path(Like.find_by_receiver_id_and_sender_id(current_user.id,params[:id]).id) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-thumbs-up fa-3x "></i></button>
                  </div>
                  <div class="col-lg-2 col-lg-offset-5">
                    <button title="Reject the match" onclick="window.location = '<%= reject_match_path(params[:id]) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%;background: white;color:#38c8e0"><i class="fa fa-thumbs-down fa-3x "></i></button>
                  </div>
              <% end %>
          <% end %>

      <% end %>



      <% end %>

</div>