<style>
    ul.edit-profile-tabs li {
        /*width: 33.3%;*/
        width: 31%;
        /*border: 1px solid #000000;*/
        /*border-radius: 5%;*/
        margin: 1% 1% 1.2% 1.2%;
    }

    /*ul.edit-profile-tabs li a{*/
        /*padding: 10% 0 10% 0;*/
        /*border: 1px solid #000000;*/
        /*border-radius: 5%;*/

        /*border: 1px solid #000000;*/
        /*border-radius: 5% 5% 5% 5%;*/
    /*}*/


    ul.edit-profile-tabs > li:first-child > a:first-child{
        padding: 5% 0 0 1%;
    }

    ul.edit-profile-tabs > li > a{
        border: 1px solid #000000;
        border-radius: 5% 5% 5% 5%;
        padding: 18% 0 0 1%;
        color: #000000;
        height: 52px;
        vertical-align: middle;
        display: block;
    }

    ul.edit-profile-tabs > li.active > a, ul.edit-profile-tabs > li.active > a:hover, ul.edit-edit-profile-tabs > li.active > a:focus{
        border: 1px solid #38C8E0;
        border-radius: 5% 5% 5% 5%;
        background-color: #ffffff;
        color: #38C8E0;
        padding: 18% 0 0 1%;
    }

    ul.edit-profile-tabs > li.active:first-child > a:first-child, ul.edit-profile-tabs > li.active:first-child > a:first-child:hover, ul.edit-edit-profile-tabs > li:first-child.active > a:first-child:focus{
        padding: 5% 0 0 1%;
    }

    .ui-autocomplete{
        width: 80%;
        height: 45%;
        overflow-y: auto;
    }
</style>

<%= content_for(:dialogue_bar_header) do %>
    <% if params[:id].to_s != (current_user.id).to_s %>
        Profile
    <% else %>
        Your profile
    <% end %>
<% end %>

<div class="row">
    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-11 col-sm-11 col-md-11 col-lg-11">
      <%= form_for @user, :url => {:controller => "users/registrations", :action => "update"}, :html => {:method => :post, :class => "form-horizontal"} do |f| %>
        <div class="bs-example bs-example-tabs" style="background-color: transparent; border: none; box-shadow: none;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="nav nav-tabs edit-profile-tabs" id="myTab" style="text-align: center; border: none;">
                      <li class="active">
                        <a data-toggle="tab" href="#personal_details_tab">Personal Details</a>
                      </li>
                      <li class="">
                        <a data-toggle="tab" href="#passwords_tab">Password</a>
                      </li>
                      <li class="">
                        <a data-toggle="tab" href="#about_me_tab">About Me</a>
                      </li>
                      <li class="">
                        <a data-toggle="tab" href="#looking_for_tab">Looking For</a>
                      </li>
                      <li class="">
                        <a data-toggle="tab" href="#movies_tab">Movies</a>
                      </li>
                      <li class="">
                        <a data-toggle="tab" href="#musics_tab">Music</a>
                      </li>
                      <li class="" style="margin-left: 34.2%;">
                        <a data-toggle="tab" href="#books_tabs">Books</a>
                      </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tab-content" id="myTabContent" style="padding: 2%; background-color: transparent">
                      <%= f.fields_for :demographic do |d| %>
                        <div id="personal_details_tab" class="tab-pane fade active in">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <!--<h1 class="blue">Personal Details</h1>-->
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Name</h6>
                                        <%= d.text_field :name, :value => @user.demographic.name, :placeholder => "Name", :class => "form-control", :style => "background-color: #FFFFFF; margin-bottom: 0" %>
                                        <span class="help-block">
                                          <%= get_content_for("nameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Nickname</h6>
                                        <%= d.text_field :nickname, :value => @user.demographic.nickname, :placeholder => "Nickname", :class => "form-control", :style => "background-color: #FFFFFF; margin-bottom: 0" %>
                                        <span class="help-block">
                                          <%= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Picture</h6>
                                        <%= d.file_field :avatar %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Date of Birth</h6>
                                        <%= d.date_select :dob, {:order => [:day, :month, :year], :start_year => (Time.now.year-64), :end_year => (Time.now.year-18), :selected => @user.demographic.dob}, {:class => "lhc_chosen", :style=>"background-color: #FFFFFF; width:32%;"} %>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Religion</h6>
                                        <%= d.text_field :religion, :placeholder => "Religion", :value => @user.demographic.religion, :class => "form-control", :style => "background-color: #FFFFFF; margin-bottom: 0" %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Gender</h6>
                                        <%= d.radio_button :male, true, {:checked => @user.demographic.male, :class => "my_gender lhc-radio-btn"} %>
                                        <label for="user_demographic_attributes_male_true" class="custom-radio-btn male-radio-btn my_gender" id="user_male_lable"></label>
                                        <%= d.radio_button :male, false, {:checked => !@user.demographic.male, :class => "my_gender lhc-radio-btn"} %>
                                        <label for="user_demographic_attributes_male_false" class="custom-radio-btn female-radio-btn my_gender" id="user_female_lable"></label>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">currently studying?</h6>
                                        <%= d.check_box :current_student %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Smoking</h6>
                                        <%= d.select :smoking, ['Never', 'Socially', 'Often'], {:selected => @user.demographic.smoking}, {:class => 'lhc_chosen', :style=>"background-color: #FFFFFF; width: 78%;"} %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Drinking</h6>
                                        <%= d.select :drinking, ['Never', 'Socially', 'Often'], {:selected => @user.demographic.drinking}, {:class => 'lhc_chosen', :style=>"background-color: #FFFFFF; width:78%"} %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Location</h6>
                                        <%= d.text_field :location, :value => @user.demographic.location, :placeholder => "Type in the location...", :class => "form-control location", :style=>"width: 136%; background-color: #FFFFFF;" %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                      <div class="form-group" style="margin-bottom: 0">
                                        <h6 class="white" style="margin-bottom: 5px;">Profession</h6>
                                        <%= f.fields_for :profession do |p| %>
                                            <%= p.text_field :name, :placeholder => "Profession", :class => "form-control" %>
                                        <% end %>
                                        <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                            </div>
                          </div>
                        </div>
                        <div id="passwords_tab" class="tab-pane fade">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!--<h1 class="white">Password</h1>-->
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Current Password</h6>
                                    <%= f.password_field :current_password, :placeholder => "Current Password", :class => "form-control", :style=>"background-color: #FFFFFF;" %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Password</h6>
                                    <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password", :class => "form-control", :style=>"background-color: #FFFFFF;" %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Password Confirmation</h6>
                                    <%= f.password_field :password_confirmation, :placeholder => "Confirm New Password", :class => "form-control", :style=>"background-color: #FFFFFF;" %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                        </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="about_me_tab" class="tab-pane fade">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!--<h1 class="white">About Me</h1>-->
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">A few words about me...</h6>
                                    <%= d.text_area :description, :placeholder => "A few words about me...", :class => "form-control", :size => "30x5" %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">In next 5 years, I would be...</h6>
                                    <%= d.text_area :goal, :placeholder => "In next 5 years, I would be...", :class => "form-control", :size => "30x5" %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Hobbies</h6>
                                    <%= f.collection_select(:hobby_list_ids, HobbyList.order('name ASC').all, :id, :name, {:include_blank => false}, {:multiple => true, :class => "multiple", :style=>"background-color: #FFFFFF; width:100%;"}) %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">What Friends Say About Me</h6>
                                    <%= f.collection_select(:about_list_ids, AboutList.order('name ASC').all, :id, :name, {:include_blank => false}, {:multiple => true, :class => "multiple", :style=>"background-color: #FFFFFF; width:100%;"}) %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <!--<div class="row">-->
                                <!--<div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
                                  <!--<div class="form-group" style="margin-bottom: 0">-->
                                    <!--<h6 class="white" style="margin-bottom: 5px;">Institution</h6>-->
                                    <!--<%#= f.collection_select(:institution_ids, Institution.order('name ASC').all, :id, :name, {:include_blank => false}, {:multiple => true, :class => "multiple", :style => "background-color: #FFFFFF; width: 100%;"}) %>-->
                                    <!--<span class="help-block">-->
                                          <!--<%#= get_content_for("nicknameHelperText") %>-->
                                    <!--</span>-->
                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                      <% end %>
                      <%= f.fields_for :criterion do |c| %>
                        <div id="looking_for_tab" class="tab-pane fade">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!--<h1 class="white">Looking For</h1>-->
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Gender</h6>
                                    <%= c.radio_button :male, true, {:checked => @user.criterion.male, :class => "my_gender lhc-radio-btn"} %>
                                    <label for="user_criterion_attributes_male_true" class="custom-radio-btn male-radio-btn my_gender" id="user_male_lable"></label>
                                    <%= c.radio_button :male, false, {:checked => !@user.criterion.male, :class => "my_gender lhc-radio-btn"} %>
                                    <label for="user_criterion_attributes_male_false" class="custom-radio-btn female-radio-btn my_gender" id="user_female_lable"></label>
                                    <span class="help-block">
                                      <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Smoking</h6>
                                    <%= c.select :smoking, ['Never', 'Socially', 'Often'], {:selected => @user.criterion.smoking}, {:class => 'lhc_chosen', :style=>"background-color: #FFFFFF; width: 78%;"} %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                                <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Drinking</h6>
                                    <%= c.select :drinking, ['Never', 'Socially', 'Often'], {:selected => @user.criterion.drinking}, {:class => 'lhc_chosen', :style=>"background-color: #FFFFFF; width:78%"} %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <% min_age = 18..28 %>
                                    <% max_age = 22..36 %>
                                    <h6 class="white" style="margin-bottom: 5px;">Age From</h6>
                                    <%= c.select(:minage, min_age.collect { |d| [d.to_s, d.to_s] }, {:selected => @user.criterion.minage}, {:class => "lhc_chosen", :style=>"background-color: #FFFFFF; width: 78%;"}) %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                                <div class="col-xs-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <h6 class="white" style="margin-bottom: 5px;">Age To</h6>
                                    <%= c.select(:maxage, max_age.collect { |d| [d.to_s, d.to_s] }, {:selected => @user.criterion.maxage}, {:class => "lhc_chosen", :style=>"background-color: #FFFFFF; width: 78%;"}) %>
                                    <span class="help-block">
                                          <%#= get_content_for("nicknameHelperText") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                        <div id="movies_tab" class="tab-pane fade">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!--<h1 class="white">Movies</h1>-->
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <div class="ui-widget">
                                      <h6 class="white" style="margin-bottom: 5px;">Search Movie</h6>
                                      <%= text_field_tag 'movie_search_textfield', nil, placeholder: 'Enter search term...', :class => "form-control" %>
                                      <span class="help-block">
                                        <%#= get_content_for("nicknameHelperText") %>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                  <div id="carousel-for-movies" class="carousel slide" data-ride="carousel" data-interval="false" style="height: 190px; padding: 1%">
                                    <div class="carousel-inner" style="margin-left: -1%;">
                                      <div class="item active">
                                        <% @user.movies.each_with_index do |user_movie, index| %>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 edit-profile-movie-citem" id="<%= user_movie.movie_api_id %>" title="<%= user_movie.name %>">
                                              <%= image_tag user_movie.poster ,:class=>"my-img", :style => "width: 85%; height:75px;" %>
                                              <div class="edit-profile-delete-movie-item-block" style="display: block; right:28%; ">&#10006;</div>
                                              <div class="carousel-caption custom-carousel-caption" style="top: 75%;">
                                                <p><%= user_movie.name.truncate(15) %></p>
                                              </div>
                                            </div>
                                            <% if (index+1)%3==0 %>
                                                </div> <div class="item ">
                                            <% end %>
                                        <% end %>
                                        </div>
                                        <!-- Controls -->

                                        </div>
                                    <a style="background-image: none; outline: none; padding-top: 10%; left: -5%;" class="left carousel-control padding-control-indicator" href="#carousel-for-movies" data-slide="prev">
                                      <span class="fa fa-chevron-left"></span>
                                    </a>
                                    <a style="background-image: none; outline: none; padding-top: 10%; right: -1%" class="right carousel-control padding-control-indicator" href="#carousel-for-movies" data-slide="next">
                                      <span class="fa fa-chevron-right"></span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="musics_tab" class="tab-pane fade">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!--<h1 class="white">Music</h1>-->
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <div class="ui-widget">
                                      <h6 class="white" style="margin-bottom: 5px;">Search Music</h6>
                                      <%= text_field_tag 'music_search_textfield', nil, placeholder: 'Enter search term...', :class => "form-control" %>
                                      <span class="help-block">
                                        <%#= get_content_for("nicknameHelperText") %>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                  <div id="carousel-for-songs" class="carousel slide" data-ride="carousel" data-interval="false" style="height: 190px; padding: 1%">
                                    <div class="carousel-inner" style="margin-left: -1%;">
                                      <div class="item active">
                                        <% @user.songs.each_with_index do |user_song, index| %>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 edit-profile-song-citem" id="<%= user_song.song_api_id %>" title="<%= user_song.name %>">
                                              <%= image_tag user_song.song_poster, :class => "my-img", :title=> user_song.name, :style => "width: 85%; height:75px;" %>
                                              <div class="edit-profile-delete-music-item-block" style="display: block; right:28%; ">&#10006;</div>
                                              <div class="carousel-caption custom-carousel-caption" style="top: 75%;">
                                                <p><%= user_song.name.truncate(15) %></p>
                                              </div>
                                            </div>
                                            <% if (index+1)%3==0 %>
                                                </div> <div class="item ">
                                            <% end %>
                                        <% end %>
                                        </div>
                                        <!-- Controls -->

                                        </div>
                                    <a style="background-image: none; outline: none; left: -4%;" class="left carousel-control" href="#carousel-for-songs" data-slide="prev">
                                      <span class="fa  fa-chevron-left"></span>
                                    </a>
                                    <a style="background-image: none; outline: none; " class="right carousel-control" href="#carousel-for-songs" data-slide="next">
                                      <span class="fa fa-chevron-right"></span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="books_tabs" class="tab-pane fade">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <!--<h1 class="white">Books</h1>-->
                              <div class="row">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                  <div class="form-group" style="margin-bottom: 0">
                                    <div class="ui-widget">
                                      <h6 class="white" style="margin-bottom: 5px;">Search Book</h6>
                                      <%= text_field_tag 'books_search_textfield', nil, placeholder: 'Enter search term...', :class => "form-control" %>
                                      <span class="help-block">
                                        <%#= get_content_for("nicknameHelperText") %>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                  <div id="carousel-for-books" class="carousel slide" data-ride="carousel" data-interval="false" style="height: 190px; padding: 1%">
                                    <div class="carousel-inner" style="margin-left: -1%;">
                                      <div class="item active">
                                        <% @user.books.each_with_index do |user_book, index| %>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 edit-profile-book-citem" id="<%= user_book.book_api_id %>" title="<%= user_book.name %>">
                                              <%= image_tag user_book.cover, :class => "my-img", :title=> user_book.name, :style => "width: 85%; height:75px;" %>
                                              <div class="edit-profile-delete-book-item-block" style="display: block; right:28%; ">&#10006;</div>
                                              <div class="carousel-caption custom-carousel-caption" style="top: 75%;">
                                                <p><%= user_book.name.truncate(15) %></p>
                                              </div>
                                            </div>
                                            <% if (index+1)%3==0 %>
                                                </div> <div class="item ">
                                            <% end %>
                                        <% end %>
                                        </div>
                                        <!-- Controls -->

                                        </div>
                                    <a style="background-image: none; outline: none; left: -4%;" class="left carousel-control" href="#carousel-for-books" data-slide="prev">
                                      <span class="fa  fa-chevron-left"></span>
                                    </a>
                                    <a style="background-image: none; outline: none; " class="right carousel-control" href="#carousel-for-books" data-slide="next">
                                      <span class="fa fa-chevron-right"></span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="actions">
                          <%= f.submit "Update", :class => "col-xs-12 btn-main ans_btn" %>
                        </div>
                      </div>
                    </div>

                </div>
            </div>

        </div>
      <% end %>
    </div>
</div>

<script>
    var moviesJSON = [];
    var moviesNameTags = [];

    var musicJSON = [];
    var musicNameTags = [];

    var booksJSON = [];
    var booksNameTags = [];
    var added_book_item_counter = 0;

    $(function () {
        var addressPicker = new AddressPicker();
        $('.location').typeahead(null, {
            displayKey: 'description',
            source: addressPicker.ttAdapter()
        });

        $("#movie_search_textfield").autocomplete({
            source: moviesNameTags,
            select: AutoCompleteSelectHandler
        });

        $("#music_search_textfield").autocomplete({
            source: musicNameTags,
            select: AutoCompleteSelectHandler
        });

        $("#books_search_textfield").autocomplete({
            source: booksNameTags,
            select: AutoCompleteSelectHandler
        });

        $('#movie_search_textfield').on('keyup', function (e) {
            var movie_search_text = $(this).val();
            var movie_search_text_len = movie_search_text.length;


            // get key code of current keypress event
            var code = (e.keyCode ? e.keyCode : e.which);

            // do nothing if it's an arrow key
            if (code == 37 || code == 38 || code == 39 || code == 40) {
                return;
            }
            else {
                if ((movie_search_text_len >= 3)) {

                    var data = {movie_search_text: []};
                    data["movie_search_text"].push(movie_search_text);
                    //moviesTags = [];
                    moviesNameTags.splice(0, moviesNameTags.length);
                    moviesJSON.splice(0, moviesJSON.length);

                    $.ajax({
                        url: "/search_movies_by_rotten_tomatoes",
                        type: "post",
                        async: false,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (data) {
                            var movie_name, movie_poster, movie_release_date, movie_id, movie_description;
                            //console.log(data);
                            $.each(data["movies"], function (i, obj) {
                                if ( (typeof obj.release_dates.dvd!='undefined') ) {
                                    //console.log(obj.release_dates.dvd);
                                    movie_name = obj.title;
                                    movie_id = obj.id;
                                    movie_poster = obj.posters.profile;
                                    //movie_release_date = obj.release_dates.theater;
                                    movie_release_date = obj.release_dates.dvd;
                                    moviesNameTags.push(movie_name);
                                    moviesJSON.push({"name": movie_name, "id": movie_id, "poster": movie_poster, "release_date": movie_release_date});
                                }
                            })

                        }
                    });


                }
            }
        });

        $('#music_search_textfield').on('keyup', function (e) {
            var music_search_text = $(this).val();
            var music_search_text_len = music_search_text.length;

            // get key code of current keypress event
            var code = (e.keyCode ? e.keyCode : e.which);

            // do nothing if it's an arrow key
            if (code == 37 || code == 38 || code == 39 || code == 40) {
                return;
            }
            else {
                if ((music_search_text_len >= 5)) {

                    var data = {music_search_text: []};
                    data["music_search_text"].push(music_search_text);
                    musicNameTags.splice(0, musicNameTags.length);
                    musicJSON.splice(0, musicJSON.length);

                    $.ajax({
                        url: "/search_music_by_lastfm",
                        type: "post",
                        async: false,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (data) {
                            var artist_name, artist_poster, music_release_date, artist_id;
                            //var music_name, music_poster, music_release_date, music_id;
                            //console.log(data.artistmatches.artist);
                            $.each(data, function (i, obj) {
                                //console.log(obj.artistmatches);
                                $.each(obj.artistmatches.artist, function (k, objj) {
                                    if ( (typeof objj.image!='undefined') && (objj.mbid.length > 0) ) {
                                        //console.log(objj);
                                        //console.log(objj.mbid.length);
                                        artist_name = objj.name;
                                        artist_id = objj.mbid;
                                        artist_poster = objj.image[2]["#text"];
                                        musicNameTags.push(artist_name);
                                        musicJSON.push({"name": artist_name, "id": artist_id, "image": artist_poster});
                                    }

                                })
                            });
                        }
                    });


                }
            }

        });

        $('#books_search_textfield').on('keyup', function (e) {
            var book_search_text = $(this).val();
            var book_search_text_len = book_search_text.length;


            // get key code of current keypress event
            var code = (e.keyCode ? e.keyCode : e.which);

            // do nothing if it's an arrow key
            if (code == 37 || code == 38 || code == 39 || code == 40) {
                return;
            }
            else {
                if ((book_search_text_len >= 3)) {

                    var data = {book_search_text: []};
                    data["book_search_text"].push(book_search_text);
                    booksNameTags.splice(0, booksNameTags.length);
                    booksJSON.splice(0, booksJSON.length);

                    $.ajax({
                        url: "/search_book_db",
                        type: "post",
                        async: false,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (data) {
                            var book_name, book_id, book_poster, movie_release_date;
                            $.each(data, function (i, obj) {
                                book_name = obj.title;
                                booksNameTags.push(book_name);
                                booksJSON.push({"title": book_name, "id": obj.id, "author": obj.author, "image": obj.image});
                                //console.log(booksJSON[i]);
                            })
                        }
                    });


                }
            }

        });

    });

    function AutoCompleteSelectHandler(event, ui) {
        var which_ele = $(this).attr('id');
        //console.log("which_ele :- " + which_ele);
        if (which_ele == "books_search_textfield") {
            var selected_book = ui.item.value;
            //console.log(selected_book);
            $.each(booksJSON, function (key, value) {
                if (value.title === selected_book) {

                    //booksJSON.push({"title":book_name, "id":obj.id, "author":obj.author, "image":obj.image});
                    var data = {book_name: [], book_id: [], book_poster: [], book_author: []};
                    data["book_name"].push(selected_book);
                    data["book_id"].push(value.id);
                    data["book_poster"].push(value.image);
                    data["book_author"].push(value.author);

                    $.ajax({
                        url: "/add_user_book",
                        type: "post",
                        async: false,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (data) {
                            console.log(data);
                            if (data == "OK") {

                                var last_item = $("#carousel-for-books").find(".item").last();
                                var last_item_children_len = $("#carousel-for-books").find(".item").last().children().length;

                                var book_item_html = '<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">' +
                                        '<img style="width: 85%; height:75px;" class="my-img" src=' + value.image + '>' +
                                        '<div style="top: 75%;" class="carousel-caption edit-profile-custom-carousel-caption">' +
                                        '<p>'  + selected_book.substr(0, 15) + '</p>' +
                                        '</div>' +
                                        '</div>';

                                if (last_item_children_len < 3) {
                                    $('.carousel').carousel({interval: false});
                                    $(last_item).append(book_item_html);
                                    var target = $("#carousel-for-books").find(".item").length - 1;
                                    $('#carousel-for-books').carousel(target);
                                }
                                else{
                                    $("#carousel-for-books").find(".item").removeClass('active');
                                    var item_active = '<div class="item active">'+book_item_html+'</div>';
                                    $(item_active).insertAfter(last_item);
                                }
                            }
                            else {
                                console.log("already there")
                            }

                        }
                    });

                }
            });
            this.value = "";
            return false;
        }
        else if (which_ele == "movie_search_textfield") {
            var selected_movie = ui.item.value;
            //console.log(selected_movie);
            $.each(moviesJSON, function (key, value) {
                if (value.name === selected_movie) {

                    //moviesJSON.push({"name":movie_name, "id":movie_id, "poster":movie_poster, "release_date":movie_release_date});
                    var data = {movie_name: [], movie_id: [], movie_poster: [], movie_release_date: []};
                    data["movie_name"].push(selected_movie);
                    data["movie_id"].push(value.id);
                    data["movie_poster"].push(value.poster);
                    data["movie_release_date"].push(value.release_date);

                    $.ajax({
                        url: "/add_user_movie",
                        type: "post",
                        async: false,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (data) {
                            console.log(data);
                            if (data == "OK") {
                                var last_item = $("#carousel-for-movies").find(".item").last();
                                var last_item_children_len = $("#carousel-for-movies").find(".item").last().children().length;

                                var movie_item_html = '<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">' +
                                        '<img style="width: 85%; height:75px;" class="my-img" src=' + value.poster + '>' +
                                        '<div style="top: 75%;" class="carousel-caption custom-carousel-caption">' +
                                        '<p>' + value.name.substr(0, 15) + '</p>' +
                                        '</div>' +
                                        '</div>';

                                if (last_item_children_len < 3) {
                                    $('.carousel').carousel({interval: false});
                                    $(last_item).append(movie_item_html);
                                    var target = $("#carousel-for-movies").find(".item").length - 1;
                                    $('#carousel-for-movies').carousel(target);
                                }
                                else{
                                    $("#carousel-for-movies").find(".item").removeClass('active');
                                    var item_active = '<div class="item active">'+movie_item_html+'</div>';
                                    $(item_active).insertAfter(last_item);
                                }

//                                $('.carousel').carousel({interval: false});
//
//                                $("#carousel-for-movies").find(".item").last().append(movie_item_html);
//                                var target = $("#carousel-for-movies").find(".item").length - 1;
//                                $('#carousel-for-movies').carousel(target);
                            }
                            else {
                                console.log("already there")
                            }

                        }
                    });

                }
            });
            this.value = "";
            return false;
        }
        else if (which_ele == "music_search_textfield") {
            var selected_music = ui.item.value;
            //console.log(selected_music);
            $.each(musicJSON, function (key, value) {
                console.log(value.name)
                if (value.name === selected_music) {

                    //musicJSON.push({"name":music_name, "id":music_id, "image":music_poster});
                    var data = {music_name: [], music_id: [], music_poster: []};
                    data["music_name"].push(selected_music);
                    data["music_id"].push(value.id);
                    data["music_poster"].push(value.image);
                    //data["music_release_date"].push(value.release_date);

                    $.ajax({
                        url: "/add_user_music",
                        type: "post",
                        async: false,
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function (data) {
                            console.log(data);
                            if (data == "OK") {

                                var last_item = $("#carousel-for-songs").find(".item").last();
                                var last_item_children_len = $("#carousel-for-songs").find(".item").last().children().length;

                                var music_item_html = '<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">' +
                                        '<img style="width: 85%; height:75px;" class="my-img" src=' + value.image + '>' +
                                        '<div style="top: 75%;" class="carousel-caption edit-profile-custom-carousel-caption">' +
                                        '<p>' + selected_music.substr(0, 15) + '</p>' +
                                        '</div>' +
                                        '</div>';

                                if (last_item_children_len < 3) {
                                    $('.carousel').carousel({interval: false});
                                    $(last_item).append(music_item_html);
                                    var target = $("#carousel-for-songs").find(".item").length - 1;
                                    $('#carousel-for-songs').carousel(target);
                                }
                                else{
                                    $("#carousel-for-songs").find(".item").removeClass('active');
                                    var item_active = '<div class="item active">'+music_item_html+'</div>';
                                    $(item_active).insertAfter(last_item);
                                }
                            }
                            else {
                                console.log("already there")
                            }

                        }
                    });

                }
            });
            this.value = "";
            return false;
        }
    }
</script>