<!-- ========================= Edit Profile Page Starts ========================= -->

<%= content_for(:left_menu) do %>

        <%= render :partial=>"dashboards/left_menu" %>


<% end %>


<%= content_for(:dialogue_bar_header) do %>
    Your profile
<% end %>

<%= content_for(:page_header) do %>
    Edit Profile
<% end %>


<section id="edit_profile_section">
  <!--<div class="container">-->
    <div class="row" style="padding-top: 3%;">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">



        <%= form_for @user, :url => { :controller => "demographics", :action => "update_profile" }, :html => { :method => :post,:class => "form-horizontal" } do |f| %>



            <%= f.fields_for :demographic do |d| %>
                <div class="form-group">
                  <div class="col-sm-8 col-lg-8">
                    <%= d.text_field :name, :placeholder=>"Name", :class=>"form-control" %>
                  </div>
                </div>

              <div class="form-group">
                <div class="col-sm-8 col-lg-8">
                  <%= d.text_field :nickname, :placeholder=>"Nickname", :class=>"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8 col-lg-8">
                  <h6 class="white">Date of Birth</h6>
                  <%= d.date_select :dob, { :order => [:day, :month, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } }, {:class => "lhc_chosen"} %>
                </div>
              </div>

                <div class="form-group">
                  <div class="col-sm-3 col-lg-3">
                    <label class="checkbox-inline">
                      <%= d.radio_button :male, {:checked=>true} %> Male
                      <%= d.radio_button :male,{:checked=>false} %> Female
                    </label>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-4 col-lg-4">
                  <%= d.select :smoking, ['Never','Socially','Often'], {:prompt=>"Smoking" }, { :class => 'lhc_chosen' } %>
                </div>
                <div class="col-sm-4 col-lg-3 col-lg-offset-1">
                  <%= d.select :drinking, ['Never','Socially','Often'], {:prompt=>"Drinking" }, { :class => 'lhc_chosen' } %>
                </div>

              </div>


              <div class="form-group">

                <div class="col-sm-4 col-lg-4">
                  <select class="lhc_chosen">
                    <option value="">Country</option>
                    <option>India</option>
                    <option>china</option>
                    <option>srilanka</option>
                    <option>austrailia</option>
                    <option>england</option>
                  </select>
                </div>
                <div class="col-sm-4 col-lg-4">
                  <input type="form-control" class="form-control" id="city" placeholder="City">
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-8 col-lg-8">
                  <%= d.text_field :religion, :placeholder=>"Religion", :class=>"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4 col-lg-4">
                  <%= f.fields_for :attendances do |a| %>
                          <%= a.collection_select(:institution_id, Institution.all, :id, :name,{}, {:class=>"lhc_chosen"}) %>
                  <% end %>
                </div>

                <div class="col-sm-4 col-lg-4">
                  <%= f.fields_for :professions do |p| %>
                      <%= p.text_field :name , :placeholder=>"Professions", :class=>"form-control" %>
                  <% end %>
                </div>

              </div>

      <% end %>


          <h4>Looking For</h4><hr>
            <%= f.fields_for :criterion do |c| %>


                <div class="form-group">
                  <div class="col-sm-3 col-lg-3">
                    <label class="checkbox-inline">
                      <%= c.radio_button :male, {:checked=>true} %> Male
                      <%= c.radio_button :male,{:checked=>false} %> Female
                    </label>
                  </div>
                </div>

                <div class="form-group">
                    <% min_age = 18..28 %>
                    <% max_age = 22..36 %>
                  <div class="col-sm-4 col-lg-4">
                    <%= c.select(:minage, min_age.collect {|d| [d.to_s,d.to_s]}, {:prompt=>"Age From"}, {:class=>"lhc_chosen"}) %>
                  </div>

                  <div class="col-sm-4 col-lg-3 col-lg-offset-1">
                    <%= c.select(:maxage, max_age.collect {|d| [d.to_s,d.to_s]}, {:prompt=>"Age To"}, {:class=>"lhc_chosen"}) %>
                  </div>
                </div>



              <div class="form-group">
                <div class="col-sm-4 col-lg-4">
                  <%= c.select :smoking, ['Never','Socially','Often'], {:prompt=>"Smoking" }, { :class => 'lhc_chosen' } %>
                </div>
                <div class="col-sm-4 col-lg-3 col-lg-offset-1">
                  <%= c.select :drinking, ['Never','Socially','Often'], {:prompt=>"Drinking" }, { :class => 'lhc_chosen' } %>
                </div>
              </div>

            <% end %>




            <h4>About Myself</h4><hr>
          <div class="form-group">
            <div class="col-sm-8 col-lg-8">
              <textarea class="form-control" rows="3" placeholder="About Myself"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-lg-8">
              <textarea class="form-control" rows="3" placeholder="In next 5 years, I would be "></textarea>
            </div>
          </div>


           <div class="form-group">

             <div class="col-sm-4 col-lg-4">
                 <p class="white">I like </p>
               <select class="multiple">
                 <option value="1">Option 1</option>
                 <option value="2">Option 2</option>
                 <option value="3">Option 3</option>
                 <option value="4">Option 4</option>
                 <option value="5">Option 5</option>
                 <option value="6">Option 6</option>
                 <option value="7">Option 7</option>
                 <option value="8">Option 8</option>
                 <option value="9">Option 9</option>
                 <option value="10">Option 10</option>
               </select>
             </div>


             <div class="col-sm-4 col-lg-4">
                 <p class="white">What Friends Say About Me </p>
               <div>
                 <select class="multiple">
                   <option value="1">Option 1</option>
                   <option value="2">Option 2</option>
                   <option value="3">Option 3</option>
                   <option value="4">Option 4</option>
                   <option value="5">Option 5</option>
                   <option value="6">Option 6</option>
                   <option value="7">Option 7</option>
                   <option value="8">Option 8</option>
                   <option value="9">Option 9</option>
                   <option value="10">Option 10</option>
                 </select>
               </div>
             </div>
           </div>


          <div class="form-group">
            <div class="col-sm-4 col-lg-4 col-md-offset-4">
              <textarea class="form-control" rows="3" placeholder="Others"></textarea>
            </div>
          </div>


            <div class="actions">
              <%= f.submit :class=>"btn-main ans_btn" %>
            </div>




    <% end  %>



      </div>
    </div>
</section>


<script>
  $(function(){
      $('.lhc_chosen').chosen();
      $('.chosen-container-single').css('width','158px');

      $(".multiple").multiselect().multiselectfilter();
  })
</script>

<!-- ========================= Edit Profile Page Ends ========================= -->