<!-- ========================= Show Profile Page Starts ========================= -->

<!--<style>-->
    <!--.chosen-container-multi .chosen-choices li.search-field input[type="text"] {-->
        <!--height: 25px;-->
    <!--}-->
<!--</style>-->

<!-- Display Movies, Music, Books here -->

<!--<section id="view_profile_section">-->
  <!--<div class="container">-->
    <!--<div class="row" style="padding-top: 3%;">-->
      <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
        <!--<div class="ui-widget">-->
          <!--<label for="movies">Search Movies :- </label>-->
          <!--<input id="movies_search_textfield">-->
          <!--<%#= select_tag "movies_search_textfield", "".html_safe, multiple: true, class: 'chosen-select ui-autocomplete-input' %>-->
        <!--</div>-->

        <!--<ul id="demo8" name="demo8"></ul>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<section id="view_profile_section" style="background-image: url('/assets/profile_back.jpg'); padding: 5%;">
    <div class="row" style="padding-top: 3%;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4 class="blue"><%= @user_nick_name %></h4>
            <table style="width: 65%; color: white;">
              <tr>
                <td style="font-size: 1.3em; width: 30%;"><i class="fa fa-user"></i></td>
                <td style="font-size: 1.3em;"><%= @user_gender %></td>
              </tr>
              <tr>
                <td style="font-size: 1.3em; width: 30%;"><i class="fa fa-lightbulb-o"></i></td>
                <td style="font-size: 1.3em;"><%= @user_religion %></td>
              </tr>
              <tr>
                <td style="font-size: 1.3em; width: 30%;"><i class="fa fa-globe"></i></td>
                <td style="font-size: 1.3em;">User, Location</td>
              </tr>
            </table>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background-color: #38C8E0;">
            <i class="fa fa-glass fa-3x"></i>
            <p class="text-center"><%= @user_drinking %></p>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background-color: #38C8E0;">
            <i class="fa fa-camera fa-3x"></i>
            <p class="text-center"><%= @user_smoking %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h5 class="white" style="background-color: #38C8E0; padding: 2%; font-size: 1.3em;">About myself</h5>
            <p class="white"><%= @user_desc %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h5 class="white" style="background-color: #38C8E0; padding: 2%; font-size: 1.3em">Hobbies</h5>
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 white">
                <i class="fa fa-thumbs-o-up fa-5x blue"></i>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 white">
                <p>Reading</p>
                <p>Writing</p>
                <p>Sleeping</p>
                <p>Drinking</p>
                <p>Movies</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h5 class="white" style="background-color: #38C8E0; padding: 2%; font-size: 1.3em">How my friends Describe me</h5>
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 white">
                <i class="fa fa-comments-o fa-5x blue"></i>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 white">
                <p>Artistic</p>
                <p>Athletic</p>
                <p>Emotinal</p>
                <p>Sensitive</p>
                <p>Sexy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <%= link_to 'Edit My Profile', edit_profile_path(current_user.id), :class=>"white" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 3%;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="ui-widget">
          <label for="music">Search Music :- </label>
          <ul id="myTags">
            <!-- Existing list items will be pre-added to the tags -->
            <li>Tag1</li>
            <li>Tag2</li>
          </ul>
          <%#= select_tag "music_search_textfield", "".html_safe, multiple: true, class: 'chosen-select ui-autocomplete-input' %>
        </div>
      </div>
    </div>

</section>

<!-- ========================= Show Profile Page Ends ========================= -->

<script>
    $(function() {
        $("#myTags").tagit();



        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];

        var moviesJSON = [];

        //auto_complete_movie(moviesJSON);

        //$('#movies_search_textfield').on('click', function(){
            //auto_complete_movie(moviesJSON);
        //});


        //https://github.com/tsechingho/chosen-rails
        var movie_search_text_field;
        movie_search_text_field = $('.chosen-container');
        var listing = $(movie_search_text_field).find('.chosen-drop').find('.chosen-results'); //results in chosen
        //console.log(listing);
        var movies_search_select_box = $("#movies_search_textfield"); // append <option>movie_name</option> in this

        $(movie_search_text_field).find(":input").on('keyup', function(e){
            //console.log($(this).val());

            var movie_search_text = $(this).val();
            var movie_search_text_len = movie_search_text.length;
            //console.log(movie_search_text + ", " + movie_search_text_len);

            //37 - left, 38 - up, 39 - right, 40 - down
            //if (e.keyCode == 37) {
            //alert( "left pressed" );
            //return false;
            //}

            // get keycode of current keypress event
            var code = (e.keyCode ? e.keyCode : e.which);

            // do nothing if it's an arrow key
            if(code == 37 || code == 38 || code == 39 || code == 40) {
                //$('.chosen-select').trigger("chosen:updated");
                return;
            }
            else {
                    if ( (movie_search_text_len >= 5) ) {
                        //$(movies_search_select_box).html("");
                        var data = {movie_search_text: []};
                        data["movie_search_text"].push(movie_search_text);

                        $.ajax({
                            url: "/search_movies_themoviedb",
                            type: "post",
                            async: false,
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (data) {
                                //console.log("data :- " + data);
                                var movie_name, movie_poster, movie_release_date;
                                //$(movies_search_select_box).html("");
                                $.each(data, function (i, obj) {
                                    //movie_name = obj.split("|||")[0];
                                    movie_name = obj.title;
                                    //moviesJSON.push(movie_name);
                                    $(movies_search_select_box).append('<option value='+i+'>'+movie_name+'</option>');
                                    //<li class="active-result" style="" data-option-array-index="0">Read</li>
                                    $(listing).append('<li class="active-result" style="" data-option-array-index='+i+'>'+movie_name+'</li>');
                                    //$('.chosen-select').trigger("chosen:updated");
                                    //$("#DropDownID").trigger("liszt:updated");
                                    //$(movies_search_select_box).trigger("liszt:updated");
                                });
                                $(movies_search_select_box).chosen();
                                //auto_complete_movie(moviesJSON);
                            }
                        });
                    }
            }
        });





        $('#myTags').find('.ui-widget-content').on('keypress',function(e){



            var music_search_text = $(this).val()
            var music_search_text_len = music_search_text.length;

            if ( (music_search_text_len >= 5) ) {
            var data = {music_search_text: []};
            data["music_search_text"].push(music_search_text);

            $.ajax({
                url: "/search_music_db",
                type: "post",
                async: false,
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (i, obj) {
//                        $('#myTags').find('.tagit-new').append(obj)
                    });

                }
            });
            }

        })



    });

    function auto_complete_movie(moviesJSON) {
        console.log("auto_complete_movie() called");
        $("#movies_search_textfield").autocomplete({
            source: moviesJSON
        });
    }

</script>
<!--http://rubygems.org/gems/rails4-autocomplete-->
<!--https://github.com/joliss/jquery-ui-rails-->