<%= content_for(:page_header) do %>
   5 things I like...
<% end %>

<%= content_for(:page_description) do %>
    <%= get_content_for('ilikeDescription') %>
<% end %>



<%= form_for @user, :url => { :controller => "users/registrations", :action => "update" }, :html => { :method => :post,:class => "form-horizontal" } do |f| %>
    <%= f.hidden_field :current_route,:value=>@next_page %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 blue-background text-center" style="padding: 3%">
        <%#= f.collection_select(:about_list_ids, AboutList.order('name ASC').all, :id, :name, {:include_blank => false}, {:multiple => true, :class=>"multiple"}) %>
        <div class="row" style="padding-top: 1%; padding-bottom:1%; padding-left:0; background-color: white">

          <% HobbyList.all.each do |a| %>
              <div class="col-lg-2" style="text-align: left">
                <p class="field switch">
                  <label class="cb-enable"><span><%= a.name[0..10] %></span></label>
                <%#= check_box_tag "user[hobby_list_ids][]",a.id %>
                  <%= check_box_tag "user[hobby_list_ids][]",a.id,false,:class=>"checkbox" %>
                <!--<input type="checkbox" name="vehicle" value="Car"> Football-->
                </p>
              </div>

          <%  end %>

        </div>
      </div>
    </div>

    <%= render :partial => "buttons",:locals => {:form=>f,:prev_page_link=>@prev_page} %>


<% end %>


<<<<<<< HEAD
=======
<script type="text/javascript">
    $(document).ready( function(){
        $(".cb-enable").click(function(){
            var parent = $(this).parents('.switch');
            $('.cb-disable',parent).removeClass('selected');
            $(this).toggleClass('selected');
            var current_state = $('.checkbox',parent).attr("checked");
            console.log(current_state);
            $('.checkbox',parent).attr('checked',!current_state);

        });
        $(".cb-disable").click(function(){
            var parent = $(this).parents('.switch');
            $('.cb-enable',parent).removeClass('selected');
            $(this).addClass('selected');

            $('.checkbox',parent).attr('checked', false);
        });
    });
</script>
>>>>>>> 19deb6faded2a1459b8ab42a8552ebd328496307

