<%= content_for(:page_header) do %>
   5 things I like...
<% end %>

<%= content_for(:page_description) do %>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
<% end %>



<%= form_for @user, :url => { :controller => "users/registrations", :action => "update" }, :html => { :method => :post,:class => "form-horizontal" } do |f| %>
    <%= f.hidden_field :current_route,:value=>@next_page %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 blue-background text-center" style="padding: 3%">
        <%#= f.collection_select(:about_list_ids, AboutList.order('name ASC').all, :id, :name, {:include_blank => false}, {:multiple => true, :class=>"multiple"}) %>
        <div class="row" style="padding-top: 1%; padding-bottom:1%; padding-left:0; background-color: white">

          <% HobbyList.all.each do |a| %>
              <div class="col-lg-2" style="text-align: left">
                <%= check_box_tag "user[hobby_list_ids][]",a.id %> <%= a.name[0..10] %>
                <!--<input type="checkbox" name="vehicle" value="Car"> Football-->
              </div>

          <%  end %>

        </div>
      </div>
    </div>

    <%= render :partial => "buttons",:locals => {:form=>f,:prev_page_link=>@prev_page} %>


<% end %>



