
<%= content_for(:header_image) do %>
    <img src="/assets/glass.png" class="img-responsive cake top_images">
<% end %>



<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 ">
    <div class="row">
<%#= form_for :user do |f| %>
      <%= form_for @user, :url => { :controller => "users/registrations", :action => "update" }, :html => { :method => :post,:class => "form-horizontal" } do |f| %>
          <%= f.hidden_field :current_route,:value=>@next_page %>
          <!-- col for demographic - starts -->
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 blue-background text-center" style="position: relative">
            <%= f.fields_for :demographic do |d| %>

                <!-- row for me image - starts -->
                <div class="row" style="margin-top: -12%">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-4" style="position: relative">
                    <div class="gender-pic">
                      <% if @user.demographic.male? %>
                          <img class="thumbnail" src="/assets/male.png" style="margin-bottom: 10%">
                      <% else %>
                          <img class="thumbnail" src="/assets/female.png" style="margin-bottom: 10%">
                      <% end %>
                      <span class="white img_caption_text">YOU</span>
                    </div>
                  </div>
                </div>
                <!-- row for me image - ends -->

                <!-- row for me dob, drinking, smoking (three diff. cols for each) - starts -->
                <div class="row">
                  <!-- col for me dob - starts -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center demographic-fill-step" id="demographic_fill_step_2" style="position: relative; padding-top: 1%;">
                    <div class="row">
                      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                        <div class="control-group">
                          <div class="controls">
                            <div class="row">
                              <h4 class="white drink_smoke_font">Drinking</h4>
                              <%= d.hidden_field :drinking, :id => "me_drinking_textfield", :class => "hidden_elems" %>
                              <div class="carousel slide" id="carousel-drinking" data-interval="false" data-ride="carousel">

                                <div class="carousel-inner">
                                  <div class="item active" id="user_demographic_drinking_never_div">
                                    <img alt="Never" src="/assets/empty_1_glass.png" class="drinking_icons">
                                    <%= radio_button_tag 'drinking', "Never", false, class: "me_drinking_radio hidden_elems" %>
                                  </div>
                                  <div class="item" id="user_demographic_drinking_socially_div">
                                    <img alt="Socially" src="/assets/empty_3_glass.png" class="drinking_icons">
                                    <%= radio_button_tag 'drinking', "Socially", false, class: "me_drinking_radio hidden_elems" %>
                                  </div>
                                  <div class="item" id="user_demographic_drinking_often_div">
                                    <img alt="Often" src="/assets/empty_2_glass.png" class="drinking_icons">
                                    <%= radio_button_tag 'drinking', "Often", false, class: "me_drinking_radio hidden_elems" %>
                                  </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <ol class="carousel-indicators my-carousel-indicator">
                                  <li id="user_demographic_drinking_never_indicator" class="active" data-slide-to="0" data-target="#carousel-drinking"></li>
                                  <li id="user_demographic_drinking_socially_indicator" data-slide-to="1" data-target="#carousel-drinking" class=""></li>
                                  <li id="user_demographic_drinking_often_indicator" data-slide-to="2" data-target="#carousel-drinking" class=""></li>
                                </ol>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- row for me dob, drinking, smoking (three diff. cols for each) - ends -->


            <% end %>
          </div>
          <!-- col for demographic - ends -->

          <!-- col for criterion - starts -->
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 blue-background text-center" style="position: relative">
            <%= f.fields_for :criterion do |c| %>

                <!-- row for opposite person image - starts -->
                <div class="row" style="margin-top: -12%">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-4" style="position: relative">
                    <div class="gender-pic">
                      <% if @user.criterion.male? %>
                          <img class="thumbnail" src="/assets/male.png" style="margin-bottom: 10%">
                          <span class="white img_caption_text">HIM</span>
                      <% else %>
                          <img class="thumbnail" src="/assets/female.png" style="margin-bottom: 10%">
                          <span class="white img_caption_text">HER</span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- row for opposite person image - ends -->

                <!-- row for opposite person dob, drinking, smoking (three diff. cols for each) - starts -->
                <div class="row">
                  <!-- col for opposite person dob - starts -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center criterion-fill-step" id="criterion_fill_step_2" style="position: relative; ">
                    <div class="control-group">
                      <div class="controls">
                        <h4 class="white drink_smoke_font">Drinking</h4>

                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-3 text-center" id="drinking_nav" style="margin-bottom: 5%;">
                            <%= c.hidden_field :drinking, :id => "opposite_person_drinking_textfield", :class => "hidden_elems" %>
                            <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
                                <div id="user_criterion_drinking_often_div" class="btn-main btn-small grey-btn" style="margin-top: 12px;" onclick="get_my_text($(this),'drinking')">Often</div>
                              </div>
                            </div>
                            <div class="row" style="margin-top: 2%;">
                              <div class="col-lg-12">
                                <div id="user_criterion_drinking_socially_div" class="btn-main btn-small grey-btn" onclick="get_my_text($(this),'drinking')">Socially</div>
                              </div>
                            </div>
                            <div class="row" style="margin-top: 2%;">
                              <div class="col-lg-12">
                                <div id="user_criterion_drinking_never_div" class="btn-main btn-small grey-btn" onclick="get_my_text($(this),'drinking')">Never</div>
                              </div>
                            </div>
                            <div class="row" style="margin-top: 2%; margin-bottom: 9%;">
                              <div class="col-lg-12">
                                <div id="user_criterion_drinking_dont_care_div" class="btn-main btn-small grey-btn" onclick="get_my_text($(this),'drinking')">Don't Care</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- col for opposite person dob - ends -->

                </div>
                <!-- row for opposite person dob, drinking, smoking (three diff. cols for each) - ends -->

                <% @user_criterion_drinking = @current_user.criterion.drinking rescue "" %>
                <% @user_demographic_drinking = @current_user.demographic.drinking rescue "" %>

            <% end %>

            </div>
            <!-- col for criterion - ends -->

            <%= render :partial => "buttons",:locals => {:form=>f,:prev_page_link=>@prev_page} %>
            <%= render :partial => "bubble_pipe" %>
            <%# end %>
            </div>
            </div>


      <% end %>

      <script>



          $(function () {

              //console.log("<%#= sanitize(@user_criterion_drinking) %>");
              //console.log("<%#= sanitize(@user_demographic_drinking) %>");
              var user_criterion_drinking = "<%= sanitize(@user_criterion_drinking) %>"
              var user_demographic_drinking = "<%= sanitize(@user_demographic_drinking) %>"

              //Never, Often, Socially, Don't Care
              //user_criterion_drinking_never_div
              //user_criterion_drinking_often_div
              //user_criterion_drinking_socially_div
              //user_criterion_drinking_dont_care_div
              if ( user_criterion_drinking!="" ) {
                  if ( user_criterion_drinking=="Never" ) {
                      $('.grey-btn').removeClass('active_gray_btn');
                      $('#user_criterion_drinking_never_div').addClass('active_gray_btn');
                  }
                  else if ( user_criterion_drinking=="Often" ) {
                      $('.grey-btn').removeClass('active_gray_btn');
                      $('#user_criterion_drinking_often_div').addClass('active_gray_btn');
                  }
                  else if ( user_criterion_drinking=="Socially" ) {
                      $('.grey-btn').removeClass('active_gray_btn');
                      $('#user_criterion_drinking_socially_div').addClass('active_gray_btn');
                  }
                  else if ( user_criterion_drinking=="Don't Care" ) {
                      $('.grey-btn').removeClass('active_gray_btn');
                      $('#user_criterion_drinking_dont_care_div').addClass('active_gray_btn');
                  }
              }

              //user_demographic_drinking_never_indicator
              ///user_demographic_drinking_socially_indicator
              //user_demographic_drinking_often_indicator
              if ( user_demographic_drinking!="" ) {
                  $('#carousel-drinking').find('.carousel-inner').find('.item').each(function( index ) {
                      $(this).removeClass('active')
                  });
                  $('#carousel-drinking').find('.carousel-indicators').find('li').each(function( index ) {
                      $(this).removeClass('active')
                  });
                  if ( user_demographic_drinking=="Never" ) {
                      $('#user_demographic_drinking_never_div').addClass('active');
                      $('#user_demographic_drinking_never_indicator').addClass('active');
                  }
                  else if ( user_demographic_drinking=="Often" ) {
                      $('#user_demographic_drinking_often_div').addClass('active');
                      $('#user_demographic_drinking_often_indicator').addClass('active');
                  }
                  else if ( user_demographic_drinking=="Socially" ) {
                      $('#user_demographic_drinking_socially_div').addClass('active');
                      $('#user_demographic_drinking_socially_indicator').addClass('active');
                  }
              }


              // setting default val for me smoking, val is set by carousel sliding - starts
              var drinking_carousel = $('#carousel-drinking');
              var drinking_carousel_first_ele = $(drinking_carousel).find('.item').first();
              var drinking_carousel_first_ele_radio_val = $(drinking_carousel_first_ele).find('.me_drinking_radio').val();
              var me_default_drinking_val = drinking_carousel_first_ele_radio_val;
              $('#me_drinking_textfield').val(me_default_drinking_val);


              $(drinking_carousel).bind('slide.bs.carousel', function (e) {
                  var me_drinking_val;
                  setTimeout(function () {
                      me_drinking_val = $('div.active').find('.me_drinking_radio').val();
                      $('#me_drinking_textfield').val(me_drinking_val);
                  }, 1100);
              });
              });
          function get_my_text(this_obj, which_step) {
              $('.grey-btn').each(function(index, value){
                  $(this).removeClass('active_gray_btn');
              });
              $(this_obj).addClass('active_gray_btn');

              if (which_step == "drinking") {
                  $('#opposite_person_drinking_textfield').val($(this_obj).text());
              }
              else if (which_step == "smoking") {
                  $('#opposite_person_smoking_textfield').val($(this_obj).text());
              }
          }


      </script>
