<%= content_for(:page_header) do %>
    5 things my friends say about me...
<% end %>

<%#= content_for(:page_description) do %>
    <%#= get_content_for('friendsayDescription') %>
<%# end %>
<%= content_for(:page_desc) do %>
    <%= get_content_for("aboutmeDescription") %>
<% end %>





<%= form_for @user, :url => { :controller => "users/registrations", :action => "update" }, :html => { :method => :post,:class => "form-horizontal" } do |f| %>
    <%= f.hidden_field :current_route,:value=>@next_page %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 blue-background text-center" style="padding: 3%">
            <%#= f.collection_select(:about_list_ids, AboutList.order('name ASC').all, :id, :name, {:include_blank => false}, {:multiple => true, :class=>"multiple"}) %>
            <div class="row" style="padding-top: 1%; padding-bottom:1%; padding-left:0; background-color: white">

            <% AboutList.all.each do |a| %>
                  <div class="col-lg-2" style="text-align: left">
                    <p class="field switch">

                      <label class="cb-enable"><span><%= a.name %></span></label>
                      <!--<label class="cb-disable selected"><span>NO</span></label>-->
                      <%= check_box_tag "user[about_list_ids][]",a.id,false,:class=>"checkbox" %>
                      <!--<input type="checkbox" id="checkbox" class="checkbox" name="field2" />-->
                    </p>

                    <!--<input type="checkbox" name="vehicle" value="Car"> Football-->
                  </div>

                  <%  end %>

          </div>
        </div>
        </div>

    <%= render :partial => "buttons",:locals => {:form=>f,:prev_page_link=>@prev_page} %>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
        <%= render :partial => "bubble_pipe" %>
      </div>
    </div>
    <% @user_about_lists = current_user.about_lists.map(&:id) rescue [] %>

<% end %>


<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;" id="error_modal">
  Launch demo modal
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title black" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        You Cannot Click More Than 5
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready( function(){
        $(".cb-enable").click(function(){
            var parent = $(this).parents('.switch');
            $('.cb-disable',parent).removeClass('selected');
            $(this).toggleClass('selected');
            var current_state = $('.checkbox',parent).attr("checked");
            console.log(current_state);
            $('.checkbox',parent).attr('checked',!current_state);
            if (($("input:checkbox:checked").length) >= 5) {
                $('#error_modal').trigger('click');
                $("input:checkbox:not(:checked)").each(function(){
                    $(this).prev().css('pointer-events','none');
                })
            }
            else{
                $("input:checkbox:not(:checked)").each(function(){
                    $(this).prev().css('pointer-events','auto');
                })
            }

        });
        $(".cb-disable").click(function(){
            var parent = $(this).parents('.switch');
            $('.cb-enable',parent).removeClass('selected');
            $(this).addClass('selected');

            $('.checkbox',parent).attr('checked', false);
        });

        var user_about_lists = <%= @user_about_lists %>;
        console.log(user_about_lists);

        $('input[type="checkbox"]').each(function(index) {
            //$('#t').append(', '+$(this).val());
            //console.log("cb");
            //console.log($(this).val());
            //console.log(user_hobbies[index]);
            for (var j=0; j<user_about_lists.length; j++){
                if ($(this).val() == user_about_lists[j]){
                    //console.log($(this).val());
                    //console.log($(this).prev().attr('class'));
                    $(this).attr('checked','checked');
                    $(this).prev().addClass('selected')
                }
            }
        });

    });
</script>

