<section id="left_menu">
    <div class="row" id="dashboard_user_profile_pic">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="thumbs">
          <img alt="Image Size 430x280" class="img-responsive" src="/assets/portfolio1.jpg">
          <a href="individual-work.html">
                <span class="title">
                    <span><i class="fa fa-link fa-2x"></i></span>
                </span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--<button class="lhc-btn btn-large gray">Profile</button>-->
        <%= link_to "Profile", profile_path, class: "btn-main", :style=>"font-size: 1.1em; padding: 5% 77% 5% 5%; text-transform: none;" %>
      </div>
    </div>

    <div class="row" style="margin-top: 12%">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= link_to "Conversations", conversations_path, class: "btn-main", :style=>"font-size: 1.1em; padding: 5% 55% 5% 5%; text-transform: none;" %>
      </div>
    </div>

    <div class="row" style="margin-top: 12%">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--<button class="lhc-btn btn-large gray">Quick Match</button>-->
        <%= link_to "Quick Matches", quick_matches_path, class: "btn-main btn-large", :style=>"font-size: 1.1em; padding: 5% 53.5% 5% 5%; text-transform: none;" %>
      </div>
    </div>

    <div class="row" style="margin-top: 12%">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--<button class="lhc-btn btn-large gray">Mutual Likes</button>-->
        <%= link_to "Mutual Likes", "#", class: "btn-main btn-large", :style=>"font-size: 1.1em; padding: 5% 59.5% 5% 5%; text-transform: none;" %>
      </div>
    </div>

    <div class="row" style="margin-top: 12%">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--<button class="lhc-btn btn-large gray">Questions</button>-->
        <%= link_to "Questions", "#", class: "btn-main btn-large", :style=>"font-size: 1.1em; padding: 5% 66.5% 5% 5%; text-transform: none;" %>
      </div>
    </div>

</section>