<style>
  h4 {
      color:#000000;
  }
</style>
<section id="dashboard_messages_section">

  <div class="panel-group" id="accordion">

    <% if !@receivers.nil? %>
    <% @receivers.each_with_index do |receiver,index| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>">
                <%= User.find(receiver).email %>
              </a>
            </h4>
          </div>

          <%# if index == 0 %>
          <div id="collapse<%= index %>" class="panel-collapse collapse in">
        <% current_user.recipients.where(:receiver_id => receiver).each_with_index do |e,ind| %>

                <div class="panel-body">
                  <%= e.message.body %>
                  <%= e.receiver_id %>
                  <%= e.id %>
                </div>

        <% end %>
          </div>
          <hr>
          <button class="btn btn-main" onclick="display_reply_form($(this))">Reply</button>
          <div class="reply_message" style="display: none">
            <%= render partial: "dashboards/message_form", :locals => {:uid => receiver}  %>
          </div>
          <%# else %>
          <!--<div id="collapse<%#= index %>" class="panel-collapse collapse">-->
          <!--<div class="panel-body">-->
          <!--<%#= e.body %>-->
          <!--</div>-->
          <!--</div>-->
          <!--<hr>-->
          <%# end %>


        </div>
    <% end  %>
    <% else %>
        No message......
    <% end  %>



  </div>


</section>

<script>
  $(function(){

  });

  function display_reply_form(this_obj){
        $(this_obj).next().show();
        console.log($(this_obj).closest("form").attr("id"));
  }
</script>