<%= content_for(:left_menu) do %>
    <%= render :partial => "left_menu" %>
<% end %>

<%= content_for(:page_header) do %>
   Your Conversations
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Conversation history
<% end %>




<style>
    /*h3, h4, h5 {*/
        /*color: #000000;*/
    /*}*/

    .message-item {
        cursor: pointer;
    }

    .hover-text:hover{
        color: #38C8E0;
    }
    .media-heading{
        font-size: 1.3em;
    }
    .date-time-text{
        padding-right: 5px;
    }
</style>
<section id="dashboard_messages_section">

    <div class="white-background">
      <ul class="media-list">
        <% @conversations.each do |m| %>
            <li class="media message-item">
              <a class="pull-left" href="#">
                <img class="img-circle img-responsive" src="/assets/male.png" height="80px" width="80px">
              </a>

              <div class="media-body hover-text">
                <div class="row">
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h5 class="media-heading hover-text"><%= get_user_name(m["user"]) %></h5>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="pull-right date-time-text hover-text">6 PM, 24<sup>th</sup> March 2014</p>
                  </div>
                </div>
            <span><%= link_to m["message"],conversations_with_users_path(m["user"])  %></span>
              </div>
            </li>
            <hr class="chat-separtor">
        <% end %>

        <!--<li class="media message-item">-->
          <!--<a class="pull-left" href="#">-->
            <!--<img class="img-circle img-responsive" src="/assets/male.png" height="80px" width="80px">-->
          <!--</a>-->

          <!--<div class="media-body hover-text">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
                <!--<h5 class="media-heading hover-text">Ashwin Kumar</h5>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                <!--<p class="pull-right date-time-text hover-text">6 PM, 24<sup>th</sup> March 2014</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin-->
            <!--commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.-->
          <!--</div>-->
        <!--</li>-->

        <!--<hr class="chat-separtor">-->

        <!--<li class="media message-item">-->
          <!--<a class="pull-left" href="#">-->
            <!--<img class="img-circle img-responsive" src="/assets/male.png" height="80px" width="80px">-->
          <!--</a>-->

          <!--<div class="media-body hover-text">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
                <!--<h5 class="media-heading hover-text">Sunny Singh</h5>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                <!--<p class="pull-right date-time-text hover-text">6 PM, 24<sup>th</sup> March 2014</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin-->
            <!--commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.-->
          <!--</div>-->
        <!--</li>-->
      </ul>
    </div>


</section>

