<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>


<%= content_for(:dialogue_bar_header) do %>
    Mutual likes
<% end %>
<%= content_for(:page_header) do %>
    Here are your filtered matches!
<% end %>


<section id="dashboard_matches_section">


      <ul class="list-inline portfolio text-center">
        <%# 4.times do |test_ans_option| %>
        <% @mutual_likes.each do |m| %>
            <li data-tag="graphics">
              <div class="test-thumbs">
                <img src="<%= get_user_image(m.id) %>" class="img-responsive" alt="Image Size 430x280" style="height: 265px; padding-left: 7%;">
                <a href="<%= user_profile_path(m.id) %>">
                  <span class="title">
                    <span class="match_age">
                      <%= get_user_name(m.id) %>
                      <br><br>
                      <%= get_user_age(m.id) %>,<%= get_user_gender(m.id) %>
                      <br><br>
                      <%= get_user_location(m.id) %>
                    </span>
                  </span>
                </a>
              </div>

              <div class="project-title margin-30">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <% if check_icebreaker_status(m.id) %>
                        <button class="buttonmenu" id="send_message_btn" onclick="window.location='<%= conversations_with_users_path(m.id) %>'">Send a Message</button>
                    <% else %>
                        <button class="send-icebreaker_btn" id="send_icebreaker_btn" onclick="window.location='<%= start_ice_breaker_path(m.id) %>'">Send Icebreaker</button>
                    <% end %>

                  </div>

                </div>
              </div>
            </li>
        <% end %>
        <%# end %>
      </ul>







</section>