<!-- ========================= Dashboard Page Begins ========================= -->
<%= content_for(:left_menu) do %>
    <%= render :partial => "left_menu" %>
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Welcome, <%= current_user.demographic.nickname %>
<% end %>
<%= content_for(:page_header) do %>
    Have a great time !
<% end %>




<div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 no-padding">
  <%#= yield %>
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 section-head1">
      Recent Activity
    </div>
  </div>



  <div class="recent-activity-list">
    <% if !@like_requests.blank? %>
        <% @like_requests.each do |e| %>
            <div class="row">
              <div class="col-lg-12 whiteblock">
                <div class="left-part"><img class="profile_pic_thumbnail" src="<%= get_user_image(e.sender_id) %>" style="border-radius: 50%">
                </div>
                <div class="mid-part">
                  <div class="recentactivitytext">
                    <a href="<%= user_profile_path(e.sender_id) %>"><%= User.find(e.sender_id).demographic.nickname %></a>likes you !

                  </div>
                </div>
                <div class="right-part">
                  <div class="recentactivitydate">
                    <%= e.created_at.strftime("%d %B %Y") %>
                    <div class="pull-right">


                      <% if e.status %>
                          <button onclick="window.location = '<%= reject_request_url(e.id) %>'" class="transparent-background-btn">
                            <i class="fa fa-thumbs-down red fa-3x"></i></button>
                      <% else %>
                          <button onclick="window.location = '<%= accept_request_url(e.id) %>'" class="transparent-background-btn">
                            <i class="fa fa-thumbs-up blue fa-3x"></i></button>
                      <% end %>
                      <!--<a href="<%#= accept_request_path(e.id) %>"><i class="fa fa-thumbs-up blue fa-3x"></i></a>-->
                      <!--<a href="<%#= reject_request_path(e.id) %>"><i class="fa fa-thumbs-down red fa-3x"></i></a>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>

    <% if !current_user.notifications.blank? %>
        <% current_user.notifications.reverse!.each do |notification| %>
            <div class="row">
              <div class="col-lg-12 whiteblock">
                <div class="left-part">
                  <% if notification.sender_id.nil? %>
                    <img class="profile_pic_thumbnail img-circle123" src="/assets/notification-icon.png" style="border-radius: 50%;"> </div>
                  <% else %>
                    <img class="profile_pic_thumbnail img-circle123" src="<%= get_user_image(notification.sender_id) rescue nil %>" style="border-radius: 50%;"> </div>
                  <% end %>
                <div class="mid-part">
                  <div class="recentactivitytext">
                    <!--Your Match <a>Sagarika</a> sent you a message-->
                    <%= link_to notification.content, notification.pointer_link %>
                  </div>
                </div>
                <div class="right-part">
                  <div class="recentactivitydate">
                    <% if notification.notification_type == "Timed" %>
                    <b><%=  ((3.days.since(notification.created_at) - Time.now)/3600).to_i %></b><br> hours left to respond
                    <% else %>
                        <%= notification.created_at.strftime("%d %B %Y") %>

                  <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>


    <!--<div  id="animation_div" style="height: 50px;width:100px;background-color: red;color: white;">animate me</div>-->
    <!--<div id="animation_div" style="background:red;height:40px;width:100px; color:white;position:absolute;top:50px;"> animate me</div>-->
  </div>


</div>
<div class="col-lg-3 text-center">

  <div class="row">
    <div class="col-lg-12">

      <div class="countdown">
        <div class="row">
          <div class="col-lg-12">
            <div class="countdowntext">
              <%= timer_countdown(current_user.id) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="countdowntexthr">
              Hours
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="countdown1">
        <div class="countdowntext1">
          Remaining
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="match_text">
        Check your matches now!
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <a href="#"><i class="fa fa-envelope fa-3x white iconstyle" data-toggle="modal" data-target="#email_modal"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="invitefriend">Invite A Friend</div>
    </div>
  </div>
  <div class="row" id="try_img">
    <div class="col-lg-12">
      <%= link_to image_tag("/assets/banner-quiz.jpg", :height => "80"), snazzmeup_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="try_out_quiz">Try our Quiz</div>
    </div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-lg-12">-->
  <!--<div class="try_out_quiz_text">Your Match Sagarika sent you a message Your Match</div>-->
  <!--</div>-->
  <!--</div>-->
</div>



<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color: #000000">Invite Your Friends</h4>
      </div>
      <div class="modal-body">
        <%= form_tag ('/invitee_friends') do %>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <%= label_tag "Enter Email" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <%= text_field_tag :email, params[:email], :size => 50 %>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-lg-12">
                  <%= submit_tag "Send" %>
                </div>
              </div>
        <% end %>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
        </div>
  </div>
</div>





<!-- ========================= Dashboard Page Ends ========================= -->

<!--<div class="row" style="border:solid 2px;">-->
<!--<div class="col-lg-12 col-md-12">-->
<!--<div style="height: 500px;width:1200px;position: relative;display: none;" id="img1">-->
<!--<div style="position: absolute;top:50px;">-->
<!--<img src="/assets/banner-quiz.jpg" height="100px; width:100px;">-->
<!--</div>-->
<!--<div style="position: absolute;top:50px;left:500px;display: none;" id="img2">-->
<!--<img src="/assets/banner-quiz.jpg" height="100px; width:100px;">-->
<!--</div>-->
<!--<div style="position: absolute;top:300px;left:100px;display: none;" id="img3">-->
<!--<img src="/assets/banner-quiz.jpg" height="100px; width:100px;">-->
<!--</div>-->
<!--<div style="position: absolute;top:300px;left:350px;display: none;" id="img4">-->
<!--<img src="/assets/banner-quiz.jpg" height="100px; width:100px;">-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--<button id="show_button">show</button>-->

<!-- ========================= Dashboard Page Ends ========================= -->
<script>
    $(document).ready(function () {
        $("#show_button").click(function () {
            $("#img1,#img2,#img3,#img4").show();
        });


    });
</script>