<!-- ========================= Dashboard Page Begins ========================= -->
<%= content_for(:left_menu) do %>
    <%= render :partial => "left_menu" %>
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Welcome, <%= current_user.demographic.name %>
<% end %>
<%= content_for(:page_header) do %>
    Have a great time !<%= timer_countdown(current_user.id).strftime("%H") %>
<% end %>




<div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 no-padding">
  <%#= yield %>

  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 section-head1">
      Recent Activity
    </div>
  </div>


  <div class="recent-activity-list">
    <% @like_requests.each do |e| %>
        <div class="row">
          <div class="col-lg-12 whiteblock">
            <div class="left-part"><img class="img-circle profile_pic_thumbnail" src="<%= get_user_image(e.sender_id) %>"></div>
            <div class="mid-part">
              <div class="recentactivitytext">
                <a><%= User.find(e.sender_id).demographic.name %></a> sent you a Like request

              </div>
            </div>
            <div class="right-part">
              <div class="recentactivitydate">
                <%= e.created_at.strftime("%d %B %Y") %>
                <div class="pull-right">


                  <% if e.status %>
                      <button onclick="window.location = '<%= reject_request_url(e.id) %>'" class="transparent-background-btn"><i class="fa fa-thumbs-down red fa-3x"></i></button>
                      <% else %>
                      <button onclick="window.location = '<%= accept_request_url(e.id) %>'" class="transparent-background-btn"><i class="fa fa-thumbs-up blue fa-3x"></i></button>
                      <% end %>
                  <!--<a href="<%#= accept_request_path(e.id) %>"><i class="fa fa-thumbs-up blue fa-3x"></i></a>-->
                  <!--<a href="<%#= reject_request_path(e.id) %>"><i class="fa fa-thumbs-down red fa-3x"></i></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>


    <% current_user.notifications.reverse!.each do |notification| %>
        <div class="row">
          <div class="col-lg-12 whiteblock">
            <div class="left-part"><img class="img-circle profile_pic_thumbnail" src="/assets/profile_pic.jpg"></div>
            <div class="mid-part">
              <div class="recentactivitytext">
                <!--Your Match <a>Sagarika</a> sent you a message-->
                <%= link_to notification.content, notification.pointer_link %>
              </div>
            </div>
            <div class="right-part">
              <div class="recentactivitydate">
                <%= notification.created_at.strftime("%d %B %Y") %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>
<div class="col-lg-3 text-center">
  <div class="row">
    <div class="col-lg-12">
      <div class="countdown">
        <div class="row">
          <div class="col-lg-12">
            <div class="countdowntext" style="font-size: 0.8em">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="countdowntexthr">
              Hours
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="countdown1">
        <div class="countdowntext1">
          Remaining
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="match_text">
        Check your matches now!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a href="#"><i class="fa fa-envelope fa-3x white iconstyle" data-toggle="modal" data-target="#email_modal"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="invitefriend">Invite A Friend</div>
    </div>
  </div>
  <div class="row" id="try_img">
    <div class="col-lg-12">
      <%= link_to image_tag("/assets/banner-quiz.jpg", :height => "80"), snazzmeup_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="try_out_quiz">Try our Quiz</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="try_out_quiz_text">Your Match Sagarika sent you a message Your Match</div>
    </div>
  </div>
</div>



<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color: #000000">Invitee Your Friends</h4>
      </div>
      <div class="modal-body">
        <%= form_tag ('/invitee_friends') do %>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <%= label_tag "Enter Email" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <%= text_field_tag :email, params[:email], :size => 50 %>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-lg-12">
                  <%= submit_tag "Send" %>
                </div>
              </div>
        <% end %>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
        </div>
  </div>
</div>


<!-- ========================= Dashboard Page Ends ========================= -->