<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>


<%= content_for(:dialogue_bar_header) do %>
    Your matches
<% end %>
<%= content_for(:page_header) do %>
    Here are your matches!
<% end %>


<section id="dashboard_matches_section">


      <ul class="list-inline portfolio text-center">
        <% @current_user_quick_matches.each do |m| %>
            <li data-tag="graphics">
              <div class="test-thumbs">
                <img src="<%= get_user_image(m.target_id) %>" class="img-responsive" alt="Image Size 430x280" style="height: 265px; padding-left: 7%;">
                <a href="<%= user_profile_path(m.target_id) %>">
                  <span class="title">
                    <span class="match_age">
                      <%= get_user_name(m.target_id) %>
                      <br><br>
                      <%= get_user_age(m.target_id) %>,<%= get_user_gender(m.target_id) %>
                      <br><br>
                      <%= get_user_location(m.target_id) %>
                    </span>
                  </span>
                </a>
              </div>

              <div class="project-title margin-30">
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-1">
                    <button title="Send like request" onclick="window.location = '<%= user_like_path(m.target_id) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%"><i class="fa fa-thumbs-up fa-3x thumb_up_color"></i></button>
                  </div>
                  <div class="col-lg-2 col-lg-offset-5">
                    <!--<button onclick="window.location = '<%#= reject_request_url(m.target_id) %>'" class="transparent-background-btn"><i class="fa fa-thumbs-down icon_font_size thumb_down_color"></i></button>-->
                    <button title="Reject the match" onclick="window.location = '<%= reject_match_path(m.id) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%"><i class="fa fa-thumbs-down fa-3x thumb_up_color"></i></button>
                  </div>
                </div>
              </div>
            </li>
        <% end %>


      </ul>









</section>
