<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu"  %>
<% end %>


<%= content_for(:dialogue_bar_header) do %>
    Your matches
<% end %>
<%= content_for(:page_header) do %>
    Here are your matches!
<% end %>


<section id="dashboard_matches_section">

  <% if @current_user_quick_matches.length > 0 %>
      <ul class="list-inline portfolio text-center">
        <% @current_user_quick_matches.each do |m| %>
            <li data-tag="graphics">
              <div class="test-thumbs">
                <img src="<%= get_user_image(m.target_id) %>" class="img-responsive" alt="Image Size 430x280" style="height: 265px; padding-left: 10%;width: 90%;">
                <a href="<%= user_profile_path(m.target_id) %>">
                  <span class="title">
                    <span class="match_age">
                      <%= get_user_name(m.target_id) %>
                      <br><br>
                      <%= get_user_age(m.target_id) %>,<%= get_user_gender(m.target_id) %>
                      <br><br>
                      <%= get_user_location(m.target_id) %>
                    </span>
                  </span>
                </a>
              </div>

              <div class="project-title margin-30">
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-1">
                    <button title="Send like request" onclick="window.location = '<%= user_like_path(m.target_id) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%"><i class="fa fa-thumbs-up fa-3x thumb_up_color"></i></button>
                  </div>
                  <div class="col-lg-2 col-lg-offset-5">
                    <!--<button onclick="window.location = '<%#= reject_request_url(m.target_id) %>'" class="transparent-background-btn"><i class="fa fa-thumbs-down icon_font_size thumb_down_color"></i></button>-->
                    <button title="Reject the match" onclick="window.location = '<%= reject_match_path(m.id) %>'" class="transparent-background-btn" style="border-radius: 50%; padding: 30%"><i class="fa fa-thumbs-down fa-3x thumb_up_color"></i></button>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
  <% else %>

      <div style="font-size: 20px">
        <h1> "We just launched so it will it take us a little bit of time to generate matches for you. Sit tight - you'll be hearing from us very very soon :)" </h1>
        <p style="margin-top: 5%"> Until then, here's what you can do:</p>
        <ol style="margin-top: 5%">
          <li><%= link_to "Get your profile ready",user_profile_path(current_user.id) %> –Make sure you're ready to impress once matches start checking out your profile.<%= link_to "Complete all the fields",edit_profile_path(current_user.id) %> and add interesting info through <%= link_to "Snaz it up! ",snazzmeup_path %>!</li>
          <br>
          <li><a href="#" data-toggle="modal" data-target="#email_modal">Invite your friends</a>:– Don't keep this great product to yourself! Sharing only increases happiness. You may earn some good karma too.
          <br>


        </ol>
      </div>
  <% end %>




  <!--<a href="#" style="display: none;"><i class="fa fa-envelope fa-3x iconstyle" ></i></a>-->

  <div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel" style="color: #000000">Invitee Your Friends</h4>
        </div>
        <div class="modal-body">
          <%= form_tag ('/invitee_friends') do %>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-12">
                      <%= label_tag "Enter Email" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <%= text_field_tag :email, params[:email], :size => 50 %>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-lg-12">
                    <%= submit_tag "Send" %>
                  </div>
                </div>
          <% end %>
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
          </div>
    </div>
  </div>





</section>
