<!-- ========================= Relationship Test Page Begins ========================= -->

<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>

<%= content_for(:page_header) do %>
   Snazz me up
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Snazz me up
<% end %>




<section id="relationship_test_section">


      <ul class="list-inline portfolio text-center">


        <%  QuizCategory.all.each do |e| %>
            <li data-tag="web">
              <div class="test-thumbs">
                <img src="/assets/assertiveness.jpg" class="img-responsive" alt="Image Size 430x280" style="width: 100%;">
                <a href="<%= start_test_path(e.id) %>">
                        <span class="title">
                            <span class="white upper-case">
                              <h5>Take the</h5>
                              <h1>Test!</h1>
                            </span>
                        </span>
                </a>
              </div>
              <div class="project-title margin-30">
                <h5><%= e.name %></h5>
              </div>
            </li>
        <% end %>

      </ul>

  <!--End Row-->
</section>
<!-- ========================= Relationship Test Page Ends ========================= -->