<!--user_verification-->
<section id="user_verification">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          icon
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h2 class="white" style="margin-top: 0;">Verify</h2>
          <h4 class="white">yourself to view your match</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= form_tag '/upload', multipart: true do %>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%= email_field_tag 'email', "", :class=>"col-xs-12", :placeholder=>"Enter your institute email" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4 class="white text-center">OR</h4>
              <h5 class="white" style="font-size: 1.3em">Upload a scanned copy of any of the below mentioned documents</h5>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <%= select_tag "doc_type", "<option>College Identity Card</option><option>College Mark Sheet</option><option>Degree</option>".html_safe, class: 'col-xs-6' %>
                  <%= file_field_tag "file", :class=>"col-xs-4", :placeholder=>"Enter your institute email" %>
                </div>
              </div>
              <p class="white">(These document would be secure)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4 class="white text-center">OR</h4>
              <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                  <h5 class="white" style="font-size: 1.3em">Verify your linkedin profile</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <ul class="social-icons">
                    <li><a target="_blank" href="#" class="linkedin"><i class="fa fa-linkedin fa-3x white"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div><%= submit_tag 'Submit', :class=>"btn btn-main" %></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>



<!--<section id="home-content">-->
  <!--<div class="container">-->
    <!--<div class="row">-->

      <!---->
      <!--<a href="#">-->
        <!--<div class="col-sm-4 text-center home-box">-->
          <!--<i class="fa fa-mobile-phone fa-3x"></i>-->
          <!--<h3>Mobile Responsive</h3>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris dui. Nam eu risus neque, sed blandit ante. Integer eget massa.</p>-->
        <!--</div>-->
      <!--</a>-->

      <!---->
      <!--<a href="#">-->
        <!--<div class="col-sm-4 text-center home-box">-->
          <!--<i class="fa fa-thumbs-up fa-3x"></i>-->
          <!--<h3>Built With Bootstrap</h3>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris dui. Nam eu risus neque, sed blandit ante. Integer eget massa.</p>-->
        <!--</div>-->
      <!--</a>-->

      <!---->
      <!--<a href="#">-->
        <!--<div class="col-sm-4 text-center home-box">-->
          <!--<i class="fa fa-flag fa-3x"></i>-->
          <!--<h3>Over 249 Icons</h3>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris dui. Nam eu risus neque, sed blandit ante. Integer eget massa.</p>-->
        <!--</div>-->
      <!--</a>-->

    <!--</div>-->
  <!--</div>-->
<!--</section>-->
