<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>
<%= content_for(:page_header) do %>
    Let's get started
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Welcome, <%= current_user.demographic.name %>
<% end %>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">


      <div class="row" style="margin-top: 40px">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <i class="fa fa-pencil fa-5x white"></i>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <div class="lhc-text">Fill your profile</div>
              <p class="white">we would love to know you better</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <i class="fa fa-user fa-5x white"></i>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="lhc-text">Check your machines Regularly</div>
            <p class="white">(there's a time limit)</p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10%">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <i class="fa fa-thumbs-up fa-5x white"></i>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <div class="lhc-text">If you get a mutual like , send a message</div>
              <p class="white">(Ofcourse. you will)</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <i class="fa fa-trophy fa-5x white"></i>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="lhc-text">Have fun with our fun-filled quizzes!</div>
            <p class="white">(play-now)</p>
          </div>
        </div>
      </div>

    </div>

<div id="instruction_arrow">

</div>
