<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>
<%= content_for(:page_header) do %>
    Let's get started
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Welcome, <%= current_user.demographic.nickname %>
<% end %>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">


      <div class="row" style="margin-top: 40px">
        <a href="<%= edit_profile_path(current_user.id) %>">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <i class="fa fa-pencil fa-5x white hidden-xs hidden-sm hidden-md"></i>
              <i class="fa fa-pencil fa-4x white visible-xs visible-sm visible-md"></i>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <div class="lhc-text">
                <%= get_content_for("welcomeDashboardProfileHeader") %>
              </div>
              <p class="white">
                <%= get_content_for("welcomeDashboardProfileText") %>
              </p>
            </div>
          </div>
        </div>
        </a>
        <a href="<%= quick_matches_path %>">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <i class="fa fa-user fa-5x white hidden-xs hidden-sm hidden-md"></i>
            <i class="fa fa-user fa-4x white visible-xs visible-sm visible-md"></i>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="lhc-text">
              <%= get_content_for("welcomeDashboardMatchesHeader") %>
            </div>
            <p class="white">
              <%= get_content_for("welcomeDashboardMatchesText") %>
            </p>
          </div>
        </div>
        </a>
      </div>


      <div class="row" style="margin-top: 10%">
        <a href="<%= mutual_likes_path %>">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <i class="fa fa-thumbs-up fa-5x white hidden-xs hidden-sm hidden-md"></i>
              <i class="fa fa-thumbs-up fa-4x white visible-xs visible-sm visible-md"></i>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <div class="lhc-text">
                <%= get_content_for("welcomeDashboardMutualLikesHeader") %>
              </div>
              <p class="white">
                <%= get_content_for("welcomeDashboardMutualLikesText") %>
              </p>
            </div>
          </div>
        </div>
        </a>
        <a href="<%= snazzmeup_path %>">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <i class="fa fa-trophy fa-5x white hidden-xs hidden-sm hidden-md"></i>
            <i class="fa fa-trophy fa-4x white visible-xs visible-sm visible-md"></i>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="lhc-text">
              <%= get_content_for("welcomeDashboardQuizzesHeader") %>
            </div>
            <p class="white">
              <%= get_content_for("welcomeDashboardQuizzesText") %>
            </p>
          </div>
        </div>
        </a>
      </div>

    </div>

<div id="instruction_arrow">

</div>
