<%= content_for(:left_menu) do %>
    <%= render :partial => "left_menu_other" %>
<% end %>
<%= content_for(:dialogue_bar_header) do %>
    You and me
<% end %>
<%= content_for(:page_header) do %>
    You and me
<% end %>


<div class="row" id="younme_1strow">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="you_col">
    <img src="/assets/female.png" id="you_img">

    <p id="you_text">You</p>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="icon_position">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <i class="fa fa-female fa-4x white"></i>
        <span id="you_me_text" class="red">You & Me</span>
        <i class="fa fa-male fa-4x white" style="margin-left: 10px;"></i>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="red" id="trite_text"> The 5-Traits test</span>
      </div>
    </div>
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    <img src="/assets/male.png" id="me_img">

    <p id="me_text">Me</p>

  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 first_box">
      <% QuizAnswer.where("user_id = ? OR user_id = ?",current_user.id,params[:id]).map { |i| Question.find(i.question_id).quizzes }.flatten.uniq.each do |e| %>
          <p class="p_text"><%= e.name %></p>
      <% end %>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 scnd_box">
      <% QuizAnswer.where("user_id = ? OR user_id = ?",current_user.id,params[:id]).map { |i| Question.find(i.question_id).quizzes }.flatten.uniq.each do |e| %>
          <p class="secend_boxtext">
            <%= QuizResult.where("quiz_id = ? and ? BETWEEN min_value AND max_value", e.id, e.calculate_total_score_for(current_user.id)).first.name rescue "NA"%> |
            <%= QuizResult.where("quiz_id = ? and ? BETWEEN min_value AND max_value", e.id, e.calculate_total_score_for(params[:id])).first.name rescue "NA"%>
          </p>
          <!--<i class="fa fa-foursquare fa-3x icon_position"></i>-->
      <% end %>
    </div>


    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 trd_box">
      <% QuizAnswer.where("user_id = ? OR user_id = ?",current_user.id,params[:id]).map { |i| Question.find(i.question_id).quizzes }.flatten.uniq.each do |e| %>
            <p class="p_text"><%= e.calculate_total_score_for(current_user.id) rescue "NA" %> | <%= e.calculate_total_score_for(params[:id]) rescue "NA" %></p>
      <% end %>
    </div>
  </div>

</div>