<%= content_for(:left_menu) do %>
    <%= render :partial => "left_menu_other" %>
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    In a nutshell
<% end %>

<%#= content_for(:page_header) do %>
    <!--You and me-->
<%# end %>





<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <p class="about-user">We think, <%= @opposite_user.demographic.nickname %> might be...</p>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <% @quizzes.each_with_index do |e,index| %>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 younnme_ans_btn younme-test">
                <!--<a style="cursor:default; width:100%;height: 100%; display:table-cell;vertical-align: middle" href="<%#= take_test_path(e.id,e.questions.first.id) %>" id="ans_test_btn">-->
                  <!--<%#= QuizResult.where("quiz_id = ? and ? BETWEEN min_value AND max_value", e.id, e.calculate_total_score_for(params[:id])).first.name rescue "NA"%>-->
                <!--</a>-->
                <!--<div class="hover-text" style="display: table-cell;vertical-align: middle"> <%#= e.name %></div>-->
                <img src="<%= get_image_from_content("quiz-" + e.name) %>" class="img-responsive" style="margin-left: 25%; max-width: 88px;">
                <p style="color: #3E4549"><b><%= e.name %></b></p>
                <div style="color: #906B41; font-size: 0.95em; font-weight: bold;">
                  <% if @user_quizzes.include?(e.id) %>
                    <%= QuizResult.where("quiz_id = ? and ? BETWEEN min_value AND max_value", e.id, e.calculate_total_score_for(params[:id])).first.name rescue "We don't know yet" %>
                  <% else %>
                    We don't know yet
                  <% end %>
                </div>
              </div>

          <% end %>
        </div>
    </div>

</div>
</div>