<!--three_cols_desc_section-->
<section id="three_col_desc_section">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-calendar fa-3x"></i>
        <h3><%= get_content_for("landingPageCol1Title") %></h3>
        <p class="white">
          <%= get_content_for("landingPageCol1Body")%>
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-thumbs-up fa-3x"></i>
        <h3><%= get_content_for("landingPageCol2Title") %></h3>
        <p class="white">
          <%= get_content_for("landingPageCol2Body") %>
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-coffee  fa-3x"></i>
        <%#= image_tag "white_cup_logo.png" ,:style=>"height:50px"%>
        <h3><%= get_content_for("landingPageCol3Title")%></h3>
        <p class="white">
          <%= get_content_for("landingPageCol3Body") %>
        </p>
      </div>

    </div><!--End Row-->

  </div>
</section>