<!--three_cols_desc_section-->
<section id="three_col_desc_section">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-users  fa-3x"></i>
        <h3><%= get_content_for("scrolldown1") %></h3>
        <p class="white">
          <%= get_content_for("scrolldown1a")%>
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-thumbs-up fa-3x"></i>
        <h3><%= get_content_for("scrolldown2") %></h3>
        <p class="white">
          <%= get_content_for("scrolldown2a") %>
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-coffee  fa-3x"></i>
        <h3><%= get_content_for("scrolldown3")%></h3>
        <p class="white">
          <%= get_content_for("scrolldown3a") %>
        </p>
      </div>

    </div><!--End Row-->

  </div>
</section>