<!--.navbar-brand, .navbar-inverse .navbar-nav > li > a-->

<style>

    .navbar-nav > li > a {
        padding-bottom: 8px;
        padding-top: 8px;

    }

    .coffee-logo-styling {
        height: 77px;
        margin-top: -8px;
    }

    /* Notification bubble css - starts */
    .animating{
        animation: animate 1s cubic-bezier(0,1,1,0);
    }

    @keyframes animate{
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.7);
        }
    }

    .menu .bubble {
        background: none repeat scroll 0 0 #E02424;
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        font: bold 0.9em Tahoma,Arial,Helvetica;
        padding: 2px 6px;
        position: absolute;
        right: 2px;
        top: -6px;
    }
    /* Notification bubble css - ends */

</style>
<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="logo-alignment">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
          <a class="navbar-brand " href="<%= my_dashboard_path %>">
            <%= image_tag "logo.png", :class => "img-responsive coffee-logo-styling", :id=>"lhc-logo"%>
          </a>
      <% else %>
          <a class="navbar-brand " href="/">
            <%= image_tag "logo.png", :class => "img-responsive coffee-logo-styling", :id=>"lhc-logo"%>
          </a>
      <% end %>
    </div>

    <% @controller = params[:controller]%>
    <% @sign_in_method = @controller.split("/").last %>

    <% if user_signed_in? %>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right menu">
            <li>
              <% @like_requests_count = Like.where(:receiver_id => current_user.id).count rescue 0 %>
              <% @notifications = current_user.notifications.count rescue 0 %>
              <% @total_notifications = @like_requests_count + @notifications %>
              <% if @total_notifications > 0 %>
                  <%= link_to(raw("Dashboard <span class=bubble>#{@total_notifications}</span>"), my_dashboard_path)  %>
              <% else %>
                  <%= link_to "Dashboard", my_dashboard_path %>
              <% end %>
            </li>

            <!--<li class="dropdown">-->
              <!--<%#= link_to "Tests <b class=caret></b>".html_safe, "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} %>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="/tests">Relationship Tests</a></li>-->
                <!--<li><a href="/take_test">Personality Test</a></li>-->
              <!--</ul>-->
            <!--</li>-->

            <li><a href="/about_us">About</a></li>
            <li>
              <a href="http://blog.letshavecoffee.in" target="_blank">Blog</a>
            </li>
            <li><a href="/contact_us">Contact</a></li>
            <li class="sign-up">
              <a rel="nofollow" href="/users/sign_out" data-method="delete"><span class="white">Sign out</span></a>
              <%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </li>
            <li>
              <a href="javascript:void(0)" onclick="$('.interactive-div').show();" style="padding-top: 7%; padding-bottom: 0"><i class="fa fa-question-circle fa-2x"></i></a>
            </li>
          </ul>
        </div>
    <% else %>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li>
              <!--<a href="#">About Us</a>-->
              <%= link_to "About Us", about_us_path %>
            </li>
            <li>
              <a href="http://blog.letshavecoffee.in" target="_blank">Blog</a>
            </li>
            <li><a href="/contact_us">Contact</a></li>
            <li class="sign-up">
              <%#= @sign_in_method %>
              <% if @sign_in_method == "sessions" %>
                  <a href="/users/sign_up"><span class="white">Sign up</span></a>
              <% elsif @sign_in_method == "registrations" || @sign_in_method == "home" || @sign_in_method == "passwords" %>
                  <a href="/users/sign_in"><span class="white">Log in</span></a>
              <% end %>
            </li>
          </ul>
        </div>
    <% end %>
  </div>

</div>

<div class="modal fade" id="content_not_available_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title blue" id="myModalLabel">Awaiting for content</h4>
      </div>
      <div class="modal-body">
        <p class="blue">Waiting for blog link</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    var counterValue = parseInt($('.bubble').html()); // Get the current bubble value
    $(function() {
        console.log("counterValue :- " + counterValue);
    });

    function removeAnimation(){
        setTimeout(function() {
            $('.bubble').removeClass('animating')
        }, 1000);
    }

    function increase_counter(){
        counterValue++; // increment
        $('.bubble').html(counterValue).addClass('animating'); // animate it
        removeAnimation(); // remove CSS animating class
    }


</script>


