<!--three_cols_desc_section-->
<section id="three_col_desc_section">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-users  fa-3x"></i>
        <h3><%= raw(SiteContent.where(:key=>"scrolldown1").first.value) %></h3>
        <p class="white">
          <%= raw(SiteContent.where(:key=>"scrolldown1a").first.value) %>
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-thumbs-up fa-3x"></i>
        <h3><%= raw(SiteContent.where(:key=>"scrolldown2").first.value) %></h3>
        <p class="white">
          <%= raw(SiteContent.where(:key=>"scrolldown2a").first.value) %>
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center home-box">
        <i class="fa fa-coffee  fa-3x"></i>
        <h3><%= raw(SiteContent.where(:key=>"scrolldown3").first.value) %></h3>
        <p class="white">
          <%= raw(SiteContent.where(:key=>"scrolldown3a").first.value) %>
        </p>
      </div>

    </div><!--End Row-->

  </div>
</section>