<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lhc</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!--TODO: move styles in external css-->
  <style>
      .white-background {
          background: #ffffff;
          padding-bottom: 20px;
          padding-top: 20px;
      }
      .blue-background {
          background: #38c8e0;
          padding-bottom: 20px;
          padding-top: 20px;
      }
  </style>
</head>
<body>

    <%= render "layouts/topbar" %>

    <!--Page Title-->
    <section id="page-title">
    <!--<section id="user_name_section">-->
      <div class="container">
        <div class="row">
          <div class="col-md-12 title-blue">
            <h2>Welcome, <%= @user_name %></h2>
          </div>
        </div>
      </div>
    </section>


    <section id="dashboard_section">
      <div class="container">
        <div class="row blue-background" style="padding-top: 3%;">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <%= render "dashboards/left_menu" %>
          </div>
          <%#= params[:action] %>
          <% params[:action] == "conversations" %>
          <% if params[:action] == "conversations" %>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 white-background">
                <%= yield %>
              </div>
          <% elsif params[:action] == "quick_matches" %>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <%= yield %>
              </div>
          <% elsif params[:action] == "user_verification" %>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 blue-background">
                <%= yield %>
              </div>
          <% end %>
        </div>
      </div>
    </section>

</body>
</html>
