<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= get_content_for("siteTitle") %></title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<%= js add_gritter(flash[:notice], :image => '/assets/bulb_48_48.png', :title => "Notification!", :sticky => false,:time => 10000  ,:position=>:bottom_left,:class_name => "gritter_style"  ) %>
<body>

    <%= render "generic_partials/topbar" %>

    <!--Page Title-->
    <section id="page-title">
    <!--<section id="user_name_section">-->
      <div class="container">
        <div class="row">
          <div class="col-md-12 title-blue">
           <h2> <%= yield(:dialogue_bar_header) %></h2>
            <!--<h2>Welcome, <%#= current_user.demographic.name %></h2>-->
          </div>
        </div>
      </div>
    </section>

    <!--dashboard_section-->
    <!--<section id="blue-container" style="padding-top: 0;overflow-x: hidden;">-->
    <section id="blue-container" style="padding-top: 0;overflow-x: hidden;overflow-y: hidden">

      <div class="row">
        <div class="page-left">
          <%= yield(:left_menu) %>
          <%#= params[:action] %>
          <% @which_action %>
          <% case params[:action] %>
          <% when "profile" %>
              <% @which_action = "profile" %>
          <% when "quick_matches" %>
              <% @which_action = "quick_matches" %>
          <% when "mutual_likes" %>
              <% @which_action = "mutual_likes" %>
          <% when "conversations" %>
              <% @which_action = "conversations" %>
          <% when "snazzmeup" %>
              <% @which_action = "snazzmeup" %>
          <% when "start_ice_breaker" %>
              <% @which_action = "start_ice_breaker" %>
          <% when "younme" %>
              <% @which_action = "younme" %>
          <% when "send_message" %>
              <% @which_action = "send_message" %>
        <% end %>
        </div>
        <div class="page-right">
          <div class="row" >
            <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 page-header1">
              <%= yield(:page_header) %>
            </div>
          </div>
          <div class="row" style="margin-top: 0%">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= yield %>
             </div>
             </div>
        </div>

      </div>


      <!--<div class="row">-->
        <!--<div class="col-lg-3" style="padding: 6%;padding-top: 1%">-->
          <!--<%#= yield(:left_menu) %>-->

       <!--</div>-->
        <!--<div class="col-lg-9" style="height:100%" >-->
          <!--<%#= yield %>-->

        <!--</div>-->
      <!--</div>-->






      <!--<div class="row">-->
        <!--<div class="col-lg-12" id="footer_color">-->
        <!--</div>-->
      <!--</div>-->
    </section>

    <section id="footer" style="background-color: #FFFFFF">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p></p>
          </div>
        </div>
      </div>
    </section>

    <div class="row" id="overlapping-div">
      <div id="inst_div">
        <%= image_tag "left_arrow.png", :id=>"instruction_arrow_image", :style => "width: 60%;" %>
        <p id="goto_link">Click here to go to Profile</p>
      </div>
    </div>

</body>

<script>
    //TODO: try another way for active button
    $(function(){
        //console.log("<%= @which_action %>");

        //display_interactive_howto();

        var action = "<%= @which_action %>";
        if ( action == "profile" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#profile_btn').addClass('active-btn');
        }
        else if ( action == "quick_matches" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#matches_btn').addClass('active-btn');
        }
        else if ( action == "mutual_likes" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#mutual_likes_btn').addClass('active-btn');
        }
        else if ( action == "conversations" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#conversation_btn').addClass('active-btn');
        }
        else if ( action == "snazzmeup" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#snazz_me_up_btn').addClass('active-btn');
        }
        else if ( action == "start_ice_breaker" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#send_icebreaker_btn').addClass('active-btn');
        }
        else if ( action == "younme" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#you_n_me_btn').addClass('active-btn');
        }
        else if ( action == "send_message" ) {
            $('.buttonmenu').removeClass('active-btn');
            $('#send_message_btn').addClass('active-btn');
        }


        var escape_keypress = false;

        $("body").keydown(function (e) {

            // escape key press
            if ((e.keyCode || e.which) == 27) {
                $("#inst_div").stop();
                $('#overlapping-div').hide();
                //console.log(e);
//                if (escape_keypress==false){
//
//                    escape_keypress=true;
//                }
//                else if (escape_keypress==true){
//
//                    escape_keypress=false;
//                }

            }


        });




    })

    function display_interactive_howto(){
        $('#overlapping-div').show();
        setTimeout(function() {
            $("#inst_div").animate({
                top: "503"
            }, 800);
            $("#goto_link").text("Click here to go to Profile");
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "+=55"
                }, 800);
                $("#goto_link").text("Click here to go to Matches");
            }, 3000);
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "+=55"
                }, 800);
                $("#goto_link").text("Click here to go to Mutual Likes");
            }, 5000);
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "+=50"
                }, 800);
                $("#goto_link").text("Click here to go to Conversations");
            }, 7000);
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "+=40"
                }, 800);
                $("#goto_link").text("Click here to go to Snaz Me Up!");
            }, 9000);
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "75",
                    left: "750"
                }, 800);
                //TODO: change img src
                $('#instruction_arrow_image').attr('src','/assets/top_arrow.png');
                $("#goto_link").text("Click here to go to Dashboard");
            }, 11000);
            setTimeout(function() {
                $("#inst_div").animate({
                    left: "+=120"
                }, 800);
                $("#goto_link").text("Click here to go to Contact Page");
            }, 13000);
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "298",
                    left: "918"
                }, 800);
                $('#instruction_arrow_image').attr('src','/assets/right_arrow.png');
                $("#goto_link").text("Click here to see time remaining.");
            }, 15000);
            setTimeout(function() {
                $("#inst_div").animate({
                    top: "550",
                    left: "918"
                }, 800);
                $("#goto_link").text("Click here to see quizzes.");
            }, 17000);
        }, 500);
    }
</script>
</html>
