<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.5">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=0.8">
  <title><%= get_content_for("siteTitle") %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<section id="page-title" style="padding-top: 0;">
  <!--<section id="match_criteria_page_title_section">  -->
  <!--<div class="container">-->
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <a href="#">
            <%= image_tag get_image_from_content('applogo'), :style => "width:90%;" %>
          </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mandatory-title-white">
        <h2>
          <%= get_content_for("fillMandatoryDetailsHeader") %>
        </h2>
      </div>
    </div>
  <!--</div>-->
</section>


<div class="row">
  <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 demographic-fill-step" id="demographic_fill_step_1" style="position: relative;margin-top:2%;">-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 demographic-fill-step" id="demographic_fill_step_1" style="position: relative;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
        <h3 class="black"><%= yield(:page_header) %></h3>

        <p><%= yield(:page_desc) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-3 custom-offset-3 large-screen-col-3-offset">
        <%= yield(:header_image) %>

      </div>
    </div>


    <%= yield %>


  </div>
</div>

<%= js add_gritter(flash[:notice], :image => '/assets/bulb_48_48.png', :title => "Notification!", :sticky => false, :time => 10000, :position => :bottom_left, :class_name => "gritter_style") %>

</body>
</html>
